/* -------------首页-------------- */

body {
    /* background-color: #161819; */
}


/* 首页导航文字*/

.international-header a {
    color: #e7e7e7;
}


/* 去除导航栏边框 */

.page-tab .con li {
    border: 0px;
}


/* 修改图标使其内部灰色 */

.page-tab .con li .bilifont {
    color: #3e3e3e
}


/* 标题文字 */

a {
    color: #e1e1e1;
}


/* 主标题文字 */

.storey-title .no-link {
    color: #e7e7e7;
}


/* 推广旁小标题文字 */

.storey-title .text-info a {
    color: #8e8e8e;
}


/* 直播描述文字 */

.live-card .up .txt .desc {
    color: #bcbcbc;
}


/* 直播副标题 */

.storey-title .text-info {
    color: #bcbcbc;
}


/* 右侧栏 直播 副标题 */

.live-rank .live-rank-item .txt p.p2 {
    color: #bcbcbc;
}


/* 右侧栏 标题（排行榜）文字 */

.rank-header .name {
    color: #e7e7e7;
}


/* 排行榜排行数字 */

.rank-wrap .number,
.pgc-rank-wrap .number,
.manga-rank-item .rank-number {
    color: #fff;
    background: #999;
    border-radius: 10px;
}


/* 所有选项卡 */

.tab-switch .tab-switch-item {
    color: #e7e7e7;
}


/* 漫画 标题下载 */

.manga-panel .app-download-link {
    color: #e7e7e7;
}


/* 漫画标题 */

.manga-panel .manga-list-box .manga-card .manga-title {
    color: #e1e1e1;
}


/* 无数据提示 */

.pgc-no-data {
    opacity: 0.5;
}


/* 新番时间表 */

.time-line .tl-link {
    background: #3b3b3b;
    border: 0px;
    color: rgba(255, 255, 255, 0.68);
    border-radius: 20px;
}


/* 联系客服 */

.contact-help {
    color: #ccc;
    background: #3b3b3b;
    border: 0px solid #e7e7e7;
    box-shadow: 0 6px 10px 0 #212121;
}


/* 页面通用底部 */

.international-footer {
    background-color: #171617;
}

.international-footer a,
.international-footer .link-box .link-item.link-c p {
    color: #c1c1c1;
}

.international-footer .link-box .link-item {
    border-right: 1px solid #c1c1c1;
}


/* 底部微信hover修复 */

.international-footer .link-box .link-item.link-c a.weixin:hover p {
    color: #00a1d6;
}


/* 底部二维码降亮度 */

.qrcode {
    opacity: 0.9;
}


/* 右侧导航电梯 */

.elevator .list-box {
    background: #222;
}

.elevator .list-box .item {
    background: #222;
    color: #fffffff0;
}

.elevator .list-box .item.on,
.elevator .list-box .item:hover {
    color: #fffffff0;
}


/* 换一换、更多 */

.rcmd-box-wrap .change-btn,
.rank-header .more,
.exchange-btn .btn,
.rank-header .more,
.exchange-btn .btn {
    color: #ccc;
}

.rcmd-box-wrap .change-btn:hover,
.exchange-btn .btn:hover,
.rank-header .more:hover {
    background-color: #282b2d!important;
}


/* 搜索栏 */

.bili-header-m .nav-search #nav_searchform,
.international-header .nav-search #nav_searchform {
    border-radius: 20px;
    background-color: #505050;
}

.bili-header-m .nav-search .nav-search-keyword,
.international-header .nav-search .nav-search-keyword {
    color: #ffffffcc!important;
}

.bili-header-m .nav-search .nav-search-btn,
.international-header .nav-search .nav-search-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bili-header-m .nav-search .nav-search-btn,
.international-header .nav-search .nav-search-btn {
    background: #737373;
}

.bili-header-m .nav-search .nav-search-submit,
.international-header .nav-search .nav-search-submit {
    color: #c3c3c3;
}

input::placeholder {
    color: #ababab;
}


/* 搜索栏 搜索历史*/

.bilibili-search-history .history-item a,
.bilibili-search-suggest .suggest-item a {
    color: #e1e1e1;
}

.bilibili-search-history,
.bilibili-search-suggest {
    border: 0px;
    background: #222;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 45%);
}

.bilibili-search-history .history-item.focus,
.bilibili-search-history .history-item:hover,
.bilibili-search-suggest .suggest-item.focus,
.bilibili-search-suggest .suggest-item:hover {
    background-color: #70727d22;
}

.bilibili-search-history .history-item a:hover,
.bilibili-search-suggest .suggest-item a:hover {
    color: #e1e1e1;
}


/* 观看列表 */

.bypb-window .online {
    border: 0px;
    border-radius: 20px;
    background: #3b3b3b;
}

.bypb-window .online a {
    font-size: 13px;
}


/* 导航栏 游戏中心 */

.box {
    background: #222;
}

.brief span {
    color: #e2e2e2;
}

.all a {
    color: #ccc;
}

.all a:hover {
    color: #00a1d6;
    background-color: #403b3b;
}

.brief a:hover {
    background-color: #403b3b;
}


/* 导航栏 直播 */

.live-box[data-v-5e2bd0c0] {
    background: #222;
    border-radius: 20px;
}

.room-list .list-item .uname[data-v-5e2bd0c0] {
    color: #e2e2e2;
}

.act-list .list-item[data-v-5e2bd0c0]:hover {
    background: #403b3b;
}


/* 导航栏 漫画 */

.app-layout[data-v-0b4aa428] {
    background-color: #222;
}

.recommendation-list .list-item .item-title[data-v-7149acfe] {
    color: #e2e2e2;
}

.popularity-list .list-title[data-v-499a5b95] {
    color: #eee;
}

.popularity-list .item-list .list-item[data-v-499a5b95] {
    color: #eee;
}

.popularity-list .item-list .list-item[data-v-499a5b95]:hover,
.recommendation-list .list-item[data-v-7149acfe]:before {
    background-color: #403b3b;
}


/* 导航栏 下箭头 */

.van-popper[x-placement^=bottom] .popper__arrow:after {
    border-bottom-color: #222!important;
}

.van-popper[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #222!important;
}


/* 标题：特别推荐 */

.special-recommend header {
    color: #e1e1e1;
}


/* 导航栏 用户信息框  */

.van-popper-avatar .vip {
    color: #222!important;
}

.van-popper-avatar .level-info .grade {
    color: #e1e1e1!important;
}

.van-popper-avatar .level-info .progress {
    color: #e1e1e1!important;
}

.international-header a,
.van-popover a {
    color: #e1e1e1!important;
}

.van-popper-avatar .coins .contact .contact-tips {
    border: 0px!important;
    background-color: #141414!important;
    color: #e1e1e1!important;
    border-radius: 10px!important;
}

.van-popper-avatar .coins .contact .email-tips:after,
.van-popper-avatar .coins .contact .phone-tips:after {
    background: #222!important;
}

.van-popper-avatar .count-item .item-key {
    color: #e1e1e1!important;
}

.van-popper-avatar .count-item .item-value {
    color: #e1e1e1!important;
}

.van-popper-avatar .links .link-title {
    color: #e1e1e1!important;
}

.van-popper-avatar .link-icon {
    color: #939393!important;
}

.lang-change .lang-title {
    color: #e1e1e1!important;
}

.lang-change .lang-icon {
    color: #939393!important;
}

.lang-change .lang-icon-more {
    color: #939393!important;
}

.van-popper-avatar .logout span {
    color: #e1e1e1!important;
}

.van-popper-avatar .links .link-item:hover {
    background: #3b3e40!important;
}

.lang-change .lang-intro {
    background: #222!important;
    color: #e1e1e1!important;
}

.van-popper-avatar .logout span:hover {
    color: #e1e1e1!important;
    background: #3b3e40!important;
}

.van-popper-avatar .vp-container {
    background: #222!important;
    border-radius: 10px!important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 75%)!important;
}

.lang-change .lang-item:hover {
    background: #3b3e40!important;
}

.lang-change .lang-intro-item:hover {
    background: #3b3e40!important;
}

.van-popper-avatar .level-intro {
    background: #222!important;
    color: #e1e1e1!important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 75%)!important;
    border-radius: 10px!important;
}

.van-popover.van-popper.van-popper-avatar {
    border-radius: 12px!important;
}

.international-header a:hover,
.van-popover a:hover {
    color: #00A1D6!important;
}

.van-popper-avatar .count-item:hover .item-key,
.van-popper-avatar .count-item:hover .item-value {
    color: #00A1D6!important;
    transition: color 0.3s;
}


/* --------------- */

.van-popover {
    background: #222!important;
    border-radius: 15px!important;
    color: #e1e1e1!important;
}


/* -------------- */


/* 导航栏 大会员 */

.follow-dialog-wrap .follow-dialog-window {
    background: #222!important;
    border-radius: 15px!important;
    box-shadow: rgb(0 0 0 / 50%) 0px 3px 6px !important;
}

.vip-m .bubble-traditional .recommand .title {
    color: #fffffff0!important;
}

.vip-m .bubble-traditional .recommand .bubble-col .item .recommand-link {
    color: #fffffff0!important;
}


/* 导航栏 消息 */

.im-list-box {
    color: #e5e9eff2!important;
    background: #222!important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.i-frame iframe {
    background: #fff0!important;
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    -webkit-box-shadow: 0 3px 6px 0 #000!important;
    box-shadow: 0 3px 6px 0 #000!important;
}

.i-frame::before {
    background-color: #222!important;
    -webkit-box-shadow: 0px 1px 0px #222!important;
    box-shadow: 0px 1px 0px #222!important;
}

.im-list:hover {
    color: #e1e1e1 !important;
    background-color: #3b3e40 !important;
}


/* 导航栏 动态 */

.i-frame::before {
    background-color: #222!important;
}

.out-container[data-v-e99755ec] {
    background-color: #222;
    box-shadow: 1px 6px 6px 0 rgb(0 0 0 / 50%);
    border-radius: 15px;
}

.content[data-v-2cacd430] {
    color: #e1e1e1;
}

.list-item[data-v-2cacd430]:hover {
    background-color: #3b3e40;
}

.more-btn[data-v-0de37f37]:hover {
    background-color: #505050;
}

.more-btn[data-v-0de37f37] {
    border-radius: 15px;
    color: #e1e1e1;
    background-color: #3b3b3b;
}

.split-line .history-tip[data-v-77141e7e] {
    background: #222;
    color: #e1e1e1;
}

.split-line .history-tip[data-v-213951fc] {
    background: #222;
    color: #e1e1e1;
}

.name-line[data-v-2cacd430] {
    font-size: 3.14136vw;
    color: #e7e7e7;
}


/* 导航栏 收藏 */

.van-popper-favorite .tab-item .title {
    color: #fffffff0!important;
}

.header-video-card:hover {
    background-color: #f4f4f433!important;
}

.van-popper-favorite .tab-item--normal {
    color: #e1e1e1!important;
}

.van-popper-favorite .tab-item--normal:hover {
    background-color: #f4f4f433!important;
}

.header-video-card .video-info .line-2 {
    color: #e1e1e1!important;
}

.van-popper-favorite .play-all {
    background-color: transparent!important;
}

.van-popper-favorite .play-all.view {
    border-right: 1px solid #e7e7e780!important;
}

.van-popper-favorite .play-all:hover {
    background-color: #f4f4f433!important;
}


/* 导航栏 历史 */

.header-video-card .video-info .line-1 {
    color: #e7e7e7!important;
}

.header-video-card .video-info .desc {
    color: #e7e7e7!important;
}


/* 导航栏 投稿 */

.bilifont {
    color: #e1e1e1!important;
}


/* 频道索引 */


/* 上箭头 */

.van-popper[x-placement^=top] .popper__arrow:after {
    bottom: 0px;
    border-top-color: #222;
}

.van-popper-channel {
    border: 0px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 50%);
}


/* 视频信息卡片 */

.video-info-module,
.popover-video-card {
    border: 0px;
    border-radius: 10px;
    -webkit-box-shadow: rgb(0 0 0 / 50%) 0 2px 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    background-color: #222;
}

.video-info-module .v-title,
.popover-video-card .content .info .f-title {
    color: #e7e7e7;
}


/* fix2 */

.elevator .list-box,
.elevator .list-box .item.back-top,
.rcmd-box-wrap .change-btn,
.exchange-btn .btn,
.rank-header .more {
    border: 1px solid #bcbcbc80;
}

.elevator .list-box .item.sort,
.exchange-btn .btn {
    border-top: 1px solid #bcbcbc80;
}

.tab-line-itnl {
    border-left: 1px solid #bcbcbc80;
}

.contact-help:hover {
    background: #2b2b2b;
    color: #e1e1e1e0;
}

.video-card-common .bilifont{
    color: #999!important;
}

.bili-banner{
    opacity: 0.95!important;
}

.nav-link .nav-link-ul .nav-link-item .link{
    color: #e1e1e1!important;
}

.page-tab .con li .bilifont{
    color: #222!important;
}

.storey-title .text-info a .bilifont {
    color: #f0361b!important;
}