.b-head-search .b-head-search_input[_v-0a0880cb] {
    background: #161819;
    color: #bcbcbc;
}

.history-wrap .history-btn .btn:hover {
    background-color: #0189ad;
    color: #e0dfdf;
}

.history-wrap .b-head .b-head-t {
    color: #e1e1e1;
}

.history-list .l-info .lastplay-time .lastplay-t {
    color: #bcbcbc;
}

.history-list .l-info {
    border-right: 1.5px solid #a2a1a1;
}

.history-list .l-info .lastplay-time .history-red-round {
    border: 5px dashed #a2a1a1;
    border-right-width: 0;
    border-left-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.history-list .r-info {
    background: #161819;
}

.history-list .r-info .r-txt a {
    color: #e1e1e1;
}

.history-list .r-info .w-info .device,
.history-list .r-info .w-info .pro-txt,
.history-list .r-info .w-info .username,
.history-list .r-info .w-info .name,
.history-list .r-info .history-delete,
.history-list .r-info .history-mark {
    color: #bcbcbc;
}


/* 通用返回顶部 */

.go-top-m .go-top[_v-7ed6730a] {
    border-radius: 8px;
    background-color: #3b3b3b;
    background-position: -714px -72px;
    border: 0px;
}

.history-list .r-info .subtitle {
    color: #e7e7e7e0;
}

.history-list .r-info .r-txt {
    border-bottom: 1px solid #a2a1a1;
}

.history-wrap .load-contain .loadtv {
    background: #161819;
}

.b-head-search {
    border: 1px solid #bcbcbc80!important;
}