/* 订阅及频道-黑色模式
https://www.bilibili.com/v/channel
引入导航栏 和 底部 
*/

/*  背景颜色 */

.category-container, .detail-page-container, .main-container, .discovery-container, .play-selector__item, .year-selector__item, .category-container {
    background: #161819!important;
}

.channel-sidebar, .discovery-panel__toggle, .subscribe-panel, .card--light {
    background: #222!important;
    border-right: 0px!important;
}

/* 标题文字 */

.discovery-panel__title, .discovery-panel .content-item__name, .subscribe-panel__title .text, .subscribe-panel .subscribe-item .name, .video-card .video-name, .rank-card-panel .header .title, .type-header .header-info .title, .channel-list-preview .header-info .title, .category-container .inner-container__header .title, .channel-list-preview .header-info .title, .type-header .header-info .title, .mini-channel-card .count, .mini-channel-card .name {
    color: #e1e1e1!important;
}

/* 副标题文字 */

.discovery-panel__toggle, .video-card .up-name, .discovery-panel .content-item__count, .subscribe-panel__title .btn, .subscribe-panel__title .count, .rank-card-panel .header .desc, .play-selector__item, .year-selector__item {
    color: #bcbcbc!important;
}

/* 按钮保持 */

.discovery-panel__title--active, .subscribe-panel .subscribe-item--active .discovery-panel__title:hover, .subscribe-panel .subscribe-item--active .discovery-panel .content-item:hover, .subscribe-panel .subscribe-item:hover, .discovery-panel__title:hover, .discovery-panel .content-item--active, .discovery-panel .content-item:hover, .subscribe-panel .subscribe-item--active {
    background: #3b3b3b!important;
}

/* 返回顶部 */

.back-top-btn {
    background: #3b3b3b!important;
    border: 1px solid #3b3b3b!important;
    border-radius: 5px!important;
}

/* —————————————————————————————————— */

/* 左频道、订阅 */

/* 搜索 */

.sidebar-search-bar .inner-input {
    color: #e1e1e1!important;
    background: #222!important;
}

/* 展开 */

.discovery-panel__toggle {
    border-top: 1px solid;
}

/* 边框修改 */

.discovery-panel {
    border-bottom: 1px solid #bcbcbc!important;
}

/* —————————————————————————————————— */

/* 订阅 */

/* 订阅展示降低亮度 */

.detail-banner {
    opacity: 0.85!important;
}

/* 精选 综合 */

.van-tabs-wrap .van-tabs-tab {
    color: #bcbcbc!important;
}

/* 展开、收起 */

.rank-card-panel .toggle>span {
    background: #161819!important;
    border-radius: 10px!important;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 30%)!important;
}

/* —————————————————————————————————— */

/* 发现频道 */

.card--light {
    border-radius: 10px!important;
}

/* —————————————————————————————————— */

/* 频道 */

/* 已订阅样式 */

.gray-btn {
    background: #bcbcbc!important;
    color: #7d7d7d!important;
    border: 1px solid #bcbcbc!important;
    opacity: 0.95!important;
}

.sidebar-search-bar {
    border: 1px solid #bcbcbc2e!important;
}

.discovery-panel__toggle {
    border-top: 1px solid #bcbcbc2e!important;
}

.discovery-panel {
    border-bottom: 1px solid #bcbcbc2e!important;
}

.channel-sidebar {
    border-right: 0px!important;
}

.detail-page-container .van-tabs-bar:after {
    background: #bcbcbc2e!important;
}

.play-selector__item,.year-selector__item {
    border: 1px solid #bcbcbc5e!important;
}

.rank-card-panel .toggle:before {
    background: #bcbcbc3e!important;
}

.video-card .video-name:hover{
    color: #00a1d6!important;
}
