/* 课堂-深色模式
https://www.bilibili.com/cheese/ */


/* 标题 */

.block-title,
.title,
.block-page-progress,
.block-title .main,
.title_txt {
    color: #e1e1e1!important;
}

.myClassroom,
.block-list-item-title,
.rank-title,
.block-list-item-title,
.block-title .sub-title {
    color: #e1e1e1!important;
}


/* 更亮的副标题文字 */

.item,
.block-list-item-desc,
.time-line-wrapper .time {
    color: #bcbcbc!important;
}


/* 背景颜色 */

.tags {
    background-color: #161819!important;
}


/* 按钮背景颜色 */

.backTop-item.bor,
.backTop-item:nth-child(n+2) {
    background: #3b3b3b!important;
}


/* —————————————————————————————————————————————————————— */


/* 右侧悬浮导航栏 */

.backTop-item {
    border-bottom: 1px solid #ffffff1f!important;
}

.backTop-item:last-child {
    border: 0px!important;
}


/* 切换翻页样式修改 */

.block-list .slider-contro .slider-next {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURUxpcenp6efn5+fn5+fn5+fn5+fn5+fn5+fn5xbfqDMAAAAIdFJOUwAMIcPhqpvRy08zNQAAAC9JREFUKM9jYKApEE1A5TNaFKAKCLcooClworsCVjQFmAIYWjAMpaeSAgKBTE0AAPJKDR/znmWLAAAAAElFTkSuQmCC);
    -webkit-transform: rotate( 180deg);
    -ms-transform: rotate(180deg);
    transform: rotate( 180deg);
}

.block-list .slider-contro .slider-next:hover {
    background-color: #3b3b3b;
    -webkit-transform: rotate( 0deg);
    -ms-transform: rotate(0deg);
    transform: rotate( 0deg);
}

.block-list .slider-contro .slider-next.disabled {
    pointer-events: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURUxpcSoqKiYmJiIiIiIiIiEhISIiIiIiIiEhIR/wiRkAAAAIdFJOUwAMIcPhqpvRy08zNQAAAC5JREFUKM9jYKAZYAtEE2BvFkAVYPIwRFOiMoBKAggIoGvBMJQOCjCCECOQqQwAa+IMp83lbxQAAAAASUVORK5CYII=);
    right: 0;
    left: auto;
}

.block-list .slider-contro .slider-prev {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURUxpcenp6efn5+fn5+fn5+fn5+fn5+fn5+fn5xbfqDMAAAAIdFJOUwAMIcPhqpvRy08zNQAAAC9JREFUKM9jYKApEE1A5TNaFKAKCLcooClworsCVjQFmAIYWjAMpaeSAgKBTE0AAPJKDR/znmWLAAAAAElFTkSuQmCC);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.block-list .slider-contro .slider-prev:hover {
    background-color: #3b3b3b;
    -webkit-transform: rotate( 180deg);
    -ms-transform: rotate(180deg);
    transform: rotate( 180deg);
}

.block-list .slider-contro .slid er-prev.disabled {
    pointer-events: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURUxpcSoqKiYmJiIiIiIiIiEhISIiIiIiIiEhIR/wiRkAAAAIdFJOUwAMIcPhqpvRy08zNQAAAC5JREFUKM9jYKAZYAtEE2BvFkAVYPIwRFOiMoBKAggIoGvBMJQOCjCCECOQqQwAa+IMp83lbxQAAAAASUVORK5CYII=);
    -webkit-transform: rotate( 180deg);
    -ms-transform: rotate(180deg);
    transform: rotate( 180deg);
}


/* 排行榜 */

.rank-index {
    color: #fff!important;
    background: #999!important;
    border-radius: 10px!important;
}


/* fix */

.backTop-item {
    border: 1px solid #ffffff1f!important;
}

.classroom-wrapper .common-lazy-img {
    background-color: #2b2b2b;
}

.rec-title {
    color: #e1e1e1e0!important;
}

.item:hover,
.block-list-item-title:hover,
.list:hover .rank-title,
.block-title .sub-title:hover,
.myClassroom:hover {
    color: #0ba395!important;
}