/* 修改背景 */

.fixed-bg {
    background: #161819!important;
}


/* 窗口外观 */

.user-panel,
.live-panel,
.tab-bar,
.most-viewed-panel,
.home-page .home-container .home-content .center-panel .section-block,
.notice-panel,
.new-topic-panel,
.card {
    background: #222!important;
    border-radius: 10px!important;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 50%)!important;
}


/* 用户信息 */

.user-panel .content .bottom .number-part .numbers {
    color: #e1e1e1;
}

.user-panel .content .bottom .number-part .numbers[data-v-7c810412] {
    color: #e1e1e1;
}


/* 标题 */

.tc-black {
    color: #e7e7e7!important;
}


/* 直播窗口栏 */

.live-panel-item .live-detail .up-name {
    color: #e1e1e1!important;
}

.live-panel-item .live-detail .live-name {
    color: #bcbcbc!important;
}


/* 用户窗口栏 */

.most-viewed-panel .list-content .most-viewed-item .name {
    color: #e1e1e1!important;
}


/* 动态发布窗口 */

.publish-panel {
    background-color: #222!important;
}

.indicator {
    color: #8E8E8E!important;
}

.core-style {
    color: #e1e1e1!important;
    background-color: #222!important;
}


/* 窗口外观 */

.static-popup,
.bili-at-popup,
.hash-popup,
.create-vote {
    border: 0px!important;
    border-radius: 10px!important;
    background-color: #2B2B2B!important;
    -webkit-box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%)!important;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%)!important;
}


/* 动态发布窗口-图片上传 */

.title {
    color: #e1e1e1!important;
}

.static-popup.bp-arrow:before {
    background: #222!important;
}


/* 动态发布窗口-@ */

.bili-at-popup__hint {
    color: #e1e1e1!important;
}

.bili-at-popup__group-name {
    color: #e1e1e1!important;
}

.bili-at-popup__user--selected {
    background-color: #3b3e40!important;
}

.bili-at-popup__user-name {
    color: #e1e1e1!important;
}


/* 动态发布窗口-话题  */

.bg-white {
    background-color: #2B2B2B!important;
}

.hash-popup .topic-container .item.is-selected {
    color: #e1e1e1!important;
    background-color: #3b3e40!important;
}


/* 动态发布-投票 */

.title,
.bp-radio,
.bp-button {
    color: #e1e1e1!important;
}

.bp-input .indicator {
    color: #e1e1e1!important;
    background-color: #2B2B2B!important;
}

.selector {
    color: #bcbcbc!important;
}

.bp-input .input,
.bp-input .textarea {
    color: #e1e1e1!important;
}

.core-style:hover,
.core-style:focus,
.core-style:active {
    background: #222!important;
}

.bp-vote-container input:focus,
.bp-vote-container input,
.bp-vote-container textarea,
.bp-vote-container textarea:focus,
.bp-vote-container select,
.bp-vote-container button {
    background-color: transparent!important;
}


/* 动态发布-发布时间 */

.schedule-bar {
    background-color: #2B2B2B!important;
    border-radius: 10px!important;
    margin-top: 12px!important;
}

.schedule-bar .dp-label {
    color: #bcbcbc!important;
}


/* ———————————————————————————————— */


/* 动态发布-表情 */


/* 窗口外观 */

.static-popup {
    border: 0px!important;
    border-radius: 10px!important;
    background-color: #2B2B2B!important;
    -webkit-box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%)!important;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%)!important;
}


/* 标题-表情 */

.title {
    font-size: 14px!important;
    color: #e1e1e1!important;
}


/* emoji背景透明 */

.emoji {
    background-color: transparent!important;
}


/* 选中表情 */

.emoji:hover {
    background-color: #403b3b!important;
}


/* 颜文字适配 */

.dp-i-block {
    display: inline-block!important;
    color: #e1e1e1!important;
    ;
}


/* 底部表情选择 */

.pagination {
    position: relative!important;
    width: 100%!important;
    border-bottom-left-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
    background-color: #222!important;
}

.emoji-cover.selected {
    background-color: #403b3b!important;
}


/* 翻页 */

.page-controller .prev:hover,
.page-controller .next:hover {
    background-color: #403b3b!important;
    color: #e1e1e1!important;
    ;
}

.page-controller .prev,
.page-controller .next {
    color: #e1e1e1!important;
}

.page-controller .prev.disabled,
.page-controller .next.disabled {
    color: #8E8E8E!important;
}


/* ———————————————————————————————— */


/* 导航字、标题、更多 */

.tc-slate {
    color: #e1e1e1;
}


/* 新动态提示 */

.new-notice-bar {
    opacity: 0.75!important;
    border-radius: 10px!important;
}


/* 动态卡片 */


/* 1.用户名 */

.card .main-content .user-name a {
    color: #e1e1e1!important;
}


/* 2.动态内容文字 */

.content-full {
    color: #e1e1e1!important;
}


/* 3.视频、直播、转发、专栏、番剧、直播回放-外观 */


/* 三、二级背景颜色 */

.live-container,
.video-container,
.video-container,
.card-content .repost,
.card-content .not-support,
.card-content .deleted,
.article-container,
.music-container,
.bangumi-container {
    background: #2b2b2b!important;
    border: 0px!important;
    box-shadow: 0px 2px 8px #00000030!important;
    border-radius: 10px!important;
}


/* 4.视频-文字、位置 */

.video-container .text-area .title {
    color: #e1e1e1!important;
}

.video-container .text-area .content {
    color: #8E8E8E!important;
}


/* 二级背景颜色 */

.card-content .repost,
.card-content .not-support,
.card-content .deleted {
    background-color: #06060630!important;
}


/* 5.文字-展开 */

.content-ellipsis {
    background-color: transparent;
    color: #e1e1e1!important;
    ;
}


/* 6.点赞文字 */

.users-box .like-users-list,
.users-box .like-users-list:active,
.users-box .like-users-list:link,
.users-box .like-users-list:visited {
    color: #babec0!important;
}

.like-users-panel {
    color: #babec0!important;
}


/* 7.商品、活动、追番 推荐 */

.shop-panel .shop-list {
    width: 100%!important;
    ;
    background-color: #2B2B2B!important;
    border-radius: 10px!important;
}

.shop-panel .panel-desc {
    color: #bcbcbc!important;
}

.shop-desc .desc-box .title {
    color: #e1e1e1!important;
}

.shop-desc .btn-box .jump-btn {
    opacity: 0.9!important;
}

.shop-panel .shop-list.is-repost {
    background-color: #2B2B2B!important;
    ;
}


/* 8.图片查看、控制 */

.imagesbox .boost-control {
    background: #2B2B2B!important;
}

.imagesbox .boost-control li {
    color: #8E8E8E!important;
}


/* 9.专栏 */

.article-container .text-area .title {
    color: #e1e1e1!important;
    ;
}

.article-container .text-area .content {
    color: #bcbcbc!important;
    ;
}

.article-container .images-area img:first-child {
    opacity: 0.9!important;
    ;
}

.article-container:hover .text-area {
    -webkit-box-shadow: 0 3px 10px 0 rgb(0 0 0 / 50%)!important;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 50%)!important;
}


/* 10.番剧 */

.bangumi-container .text-area .title {
    color: #e1e1e1!important;
}

.bangumi-container .text-area .title {
    margin-top: 9px!important;
    ;
}


/* 11.直播回放窗口*/

.video-container .text-area .title {
    color: #e1e1e1!important;
    ;
}

.video-container .text-area .content {
    color: #8e8e8e!important;
}


/* 12.动态发布时间 */

.card .main-content .time .detail-link {
    color: #8E8E8E!important;
}


/* 13.更多、举报、关注*/

.card .more-panel {
    background: #2B2B2B!important;
    border: 0px!important;
    -webkit-box-shadow: 0 11px 12px 0 rgb(0 0 0 / 20%)!important;
    box-shadow: 0 11px 12px 0 rgb(0 0 0 / 20%)!important;
    border-radius: 10px!important;
    color: #e1e1e1!important;
}

.card .more-panel:after {
    border-top: 1px solid #2b2b2b!important;
    border-left: 1px solid #2B2B2B!important;
    background: #2B2B2B!important;
}


/* 话题 */

.new-topic-panel .tag-item .content {
    color: #e1e1e1!important;
}

.new-topic-panel .tag-item .label {
    background: #3b3b3b!important;
    color: #cccccc!important;
}


/* 关闭动态加载图 */

.loading-img {
    display: none;
}


/* 链接索引保持 */

.dynamic-link-hover-bg:hover {
    background-color: #3b3e40;
}


/* _________________________________________ */


/* 1.用户信息 */


/* 2.用户卡片 */

.userinfo-content {
    background: #222!important;
    color: #6d757a!important;
    border-radius: 10px!important;
}

.userinfo-wrapper {
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 50%)!important;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%)!important;
    border: 0px!important;
    border-radius: 10px!important;
}

.userinfo-content .info p {
    color: #8E8E8E!important;
}

.userinfo-content .bg {
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}

.user-card .btn-box .like {
    color: #fff;
    background-color: #00a1d6;
    border-radius: 15px;
}

.user-card .btn-box .message,
.userinfo-content .btn-box>a {
    background-color: #505050!important;
    border-radius: 15px!important;
}

.user-card .btn-box a,
.userinfo-content .btn-box>a {
    border: 0px!important;
    color: #ffffffb3!important;
    background-color: #676767!important;
}

.userinfo-content .btn-box>a:hover {
    color: #ffffffb3!important;
}

.user-card .btn-box a:hover,
.userinfo-content .btn-box>a.liked:hover {
    color: #ffffffb3!important;
    background-color: #676767!important;
}

.userinfo-content .btn-box>a.liked,
.user-card .btn-box a,
.userinfo-content .btn-box>a {
    background-color: #3b3b3b!important;
    color: #ffffffb3!important;
}

.userinfo-content .btn-box>a.liked:hover,
.userinfo-content .btn-box>a:hover {
    background-color: #505050!important;
    color: #ffffffb3!important;
}


/* 用户名称 */

.userinfo-content .info .user .name {
    color: #e1e1e1!important;
}


/* 描述文本 */

.userinfo-content .info .sign {
    color: #bcbcbc!important;
}


/* —————————————————————————————————— */