 /* 通用切换按钮 */
 
 .next-button .switch-button {
     border: 1px solid #bcbcbc;
     background: #2b2b2b;
 }
 
 .next-button .switch-button:after {
     background-color: #bcbcbc;
 }
 
 .next-button .switch-button.on:after {
     background: #e1e1e1e0;
 }
 /* 通用视频背景透明 */
 
 .bilibili-player-video-sendbar.bilibili-player-normal-mode {
     background: transparent!important;
 }