.kitOuter {
    top: 95%;
    left: 3%;
}

.kitOuterDark,
.kit_dark {
    display: flex;
    flex-direction: column;
}

.kitOuterDark {
    display: none;
    width: 315px;
    height: 450px;
    border-radius: 15px;
    background-color: #222;
    box-shadow: 0 2px 4px #222;
}

.boxOuterDark,
.center {
    display: flex;
}

.center {
    justify-content: center;
}

.titleDark {
    padding: 8px;
    color: #e1e1e1;
}

.kit_getPic {
    margin-top: 8px;
}

.widthBox {
    display: flex;
    margin: 8px;
    margin-bottom: 0px;
    width: 298px;
    height: 50px;
    border-radius: 15px;
    background-color: #2b2b2b;
    box-shadow: 0 2px 8px #1d1d1d;
    border: 1px solid #2b2b2b;
}

.widthBox:hover {
    border: 1px solid #bcbcbc80;
}

.settingDark,
.settingNormal {
    display: flex;
    margin: 10px;
    width: 40px;
    margin-left: -20px;
    height: 40px;
    border-radius: 10px;
}

.settingDark {
    background-color: #222;
    box-shadow: 0 2px 4px #222;
}

.boxSideDark {
    display: flex;
    width: 150px;
    height: 45px;
    border-radius: 15px;
    background-color: #2b2b2b;
    box-shadow: 0 2px 8px #1d1d1d;
    border: 1px solid #2b2b2b;
}

.boxSideDark:hover {
    border: 1px solid #bcbcbc80;
}

.boxMainDark:hover {
    border: 1px solid #bcbcbc80;
}

.boxMainDark {
    display: flex;
    margin: 0 8px 8px;
    width: 160px;
    height: 100px;
    border-radius: 15px;
    background-color: #2b2b2b;
    box-shadow: 0 2px 8px #1d1d1d;
    border: 1px solid #2b2b2b;
}

.icon_fix {
    display: flex;
    margin-left: 128px;
    color: #e1e1e1;
    font-size: 40px!important;
    justify-content: center!important;
    align-items: center!important;
}

.sideMargin {
    margin-right: 8px;
    margin-bottom: 8px;
}

.smallsize {
    margin-left: 10px;
    font-size: small;
}

.subtitleDark {
    color: #bcbcbc;
}

.icon_fix_dark_theme {
    display: flex;
    margin-left: 1px;
    color: #e1e1e1;
    font-size: 50px!important;
    justify-content: center!important;
    align-items: center!important;
}

.iconDark {
    padding: 10px 0 0 9px;
    color: #e1e1e1;
    font-size: 20px!important;
}

@font-face {
    font-family: "iconfont";
    /* Project id 2625254 */
    src: url('//at.alicdn.com/t/font_2625254_puryec1ehl.woff2?t=1624332498326') format('woff2'), url('//at.alicdn.com/t/font_2625254_puryec1ehl.woff?t=1624332498326') format('woff'), url('//at.alicdn.com/t/font_2625254_puryec1ehl.ttf?t=1624332498326') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
    content: "\e6ed";
}

.icon-zhaopian:before {
    content: "\e64f";
}

.icon-zizhong:before {
    content: "\e603";
}

.icon-DarkTheme:before {
    content: "\e65a";
}