/* 修改背景 */

.fixed-bg[data-v-9197f874] {
    background: #161819;
}


/* 窗口外观 */

.user-panel[data-v-7c810412],
.live-panel[data-v-621fee91],
.tab-bar[data-v-58304b2a],
.most-viewed-panel[data-v-7d62e686],
.home-page .home-container .home-content .center-panel .section-block[data-v-9197f874],
.notice-panel[data-v-5458153c],
.new-topic-panel[data-v-367b7f8d],
.card[data-v-b5713636] {
    background: #222;
    border-radius: 10px;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 50%);
}


/* 用户信息 */

.user-panel .content .bottom .number-part .numbers[data-v-7c810412] {
    color: #e1e1e1;
}


/* 标题 */

.tc-black {
    color: #e7e7e7;
}


/* 直播窗口栏 */

.live-panel-item .live-detail .up-name[data-v-139ef948] {
    color: #e1e1e1;
}

.live-panel-item .live-detail .live-name[data-v-139ef948] {
    color: #bcbcbc;
}


/* 用户窗口栏 */

.most-viewed-panel .list-content .most-viewed-item .name[data-v-7d62e686] {
    color: #e1e1e1;
}


/* 动态发布窗口 */

.publish-panel[data-v-4531f45f] {
    background-color: #222;
}

.indicator[data-v-d0fcfa2c] {
    color: #8E8E8E;
}

.core-style[data-v-655ff91e] {
    color: #e1e1e1;
    background-color: #222;
}


/* 窗口外观 */

.static-popup[data-v-268b12ee],
.bili-at-popup,
.hash-popup[data-v-9f192432],
.create-vote[data-v-4b97839a] {
    border: 0px;
    border-radius: 10px;
    background-color: #2B2B2B;
    -webkit-box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%);
}


/* 动态发布窗口-图片上传 */

.title[data-v-268b12ee] {
    color: #e1e1e1;
}

.static-popup.bp-arrow[data-v-268b12ee]:before {
    background: #222;
}


/* 动态发布窗口-@ */

.bili-at-popup__hint {
    color: #e1e1e1;
}

.bili-at-popup__group-name {
    color: #e1e1e1;
}

.bili-at-popup__user--selected {
    background-color: #3b3e40;
}

.bili-at-popup__user-name {
    color: #e1e1e1;
}


/* 动态发布窗口-话题  */

.bg-white {
    background-color: #2B2B2B;
}

.hash-popup .topic-container .item.is-selected[data-v-9f192432] {
    color: #e1e1e1;
    background-color: #3b3e40;
}


/* 动态发布-投票 */

.title[data-v-47d56164],
.bp-radio[data-v-55c64c29],
.bp-button[data-v-b26b5ce0] {
    color: #e1e1e1;
}

.bp-input .indicator[data-v-793bb182] {
    color: #e1e1e1;
    background-color: #2B2B2B;
}

.selector[data-v-6aaa05f4] {
    color: #bcbcbc;
}

.bp-input .input[data-v-793bb182],
.bp-input .textarea[data-v-793bb182] {
    color: #e1e1e1;
}

.core-style[data-v-655ff91e]:hover,
.core-style[data-v-655ff91e]:focus,
.core-style[data-v-655ff91e]:active {
    background: #222;
}

.bp-vote-container input:focus,
.bp-vote-container input,
.bp-vote-container textarea,
.bp-vote-container textarea:focus,
.bp-vote-container select,
.bp-vote-container button {
    background-color: transparent;
}


/* 动态发布-发布时间 */

.schedule-bar[data-v-af5aaec4] {
    background-color: #2B2B2B;
    border-radius: 10px;
    margin-top: 12px;
}

.schedule-bar .dp-label[data-v-af5aaec4] {
    color: #bcbcbc;
}


/* ———————————————————————————————— */


/* 动态发布-表情 */


/* 窗口外观 */

.static-popup[data-v-00b4b4ea] {
    border: 0px;
    border-radius: 10px;
    background-color: #2B2B2B;
    -webkit-box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%);
}


/* 标题-表情 */

.title[data-v-00b4b4ea] {
    padding: 15px;
    font-size: 14px;
    color: #e1e1e1;
    text-align: left;
}


/* emoji背景透明 */

.emoji[data-v-60ae9c4d] {
    background-color: transparent;
}


/* 选中表情 */

.emoji[data-v-60ae9c4d]:hover {
    background-color: #403b3b;
}


/* 颜文字适配 */

.dp-i-block[data-v-60ae9c4d] {
    display: inline-block;
    color: #e1e1e1;
}


/* 底部表情选择 */

.pagination[data-v-97c4281e] {
    position: relative;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #222;
}

.emoji-cover.selected[data-v-97c4281e] {
    background-color: #403b3b;
}


/* 翻页 */

.page-controller .prev[data-v-97c4281e]:hover,
.page-controller .next[data-v-97c4281e]:hover {
    background-color: #403b3b;
    color: #e1e1e1;
}

.page-controller .prev[data-v-97c4281e],
.page-controller .next[data-v-97c4281e] {
    color: #e1e1e1;
}

.page-controller .prev.disabled[data-v-97c4281e],
.page-controller .next.disabled[data-v-97c4281e] {
    color: #8E8E8E!important;
}


/* ———————————————————————————————— */


/* 导航字、标题、更多 */

.tc-slate {
    color: #e1e1e1;
}


/* 新动态提示 */

.new-notice-bar[data-v-fcbb045e] {
    opacity: 0.75;
    border-radius: 10px;
}


/* 动态卡片 */


/* 1.用户名 */

.card .main-content .user-name a[data-v-b5713636] {
    color: #e1e1e1;
}


/* 2.动态内容文字 */

.content-full[data-v-b3414e94] {
    color: #e1e1e1;
}


/* 3.视频、直播、转发、专栏、番剧、直播回放-外观 */


/* 三、二级背景颜色 */

.live-container[data-v-23b19018],
.video-container[data-v-4a97ece4],
.video-container[data-v-0514ecc0],
.card-content .repost[data-v-71b3c902],
.card-content .not-support[data-v-71b3c902],
.card-content .deleted[data-v-71b3c902],
.article-container[data-v-3d352df6],
.music-container[data-v-7d9db8c7],
.bangumi-container[data-v-6d8fee64] {
    background: #2b2b2b;
    border: 0px;
    box-shadow: 0px 2px 8px #00000030;
    border-radius: 10px;
}


/* 4.视频-文字、位置 */

.video-container .text-area .title[data-v-0514ecc0] {
    color: #e1e1e1;
}

.video-container .text-area .content[data-v-0514ecc0] {
    color: #8E8E8E;
}


/* 二级背景颜色 */

.card-content .repost[data-v-71b3c902],
.card-content .not-support[data-v-71b3c902],
.card-content .deleted[data-v-71b3c902] {
    background-color: #06060630;
}


/* 5.文字-展开 */

.content-ellipsis[data-v-b3414e94] {
    background-color: transparent;
    color: #e1e1e1;
}


/* 6.点赞文字 */

.users-box .like-users-list[data-v-9f189eb0],
.users-box .like-users-list[data-v-9f189eb0]:active,
.users-box .like-users-list[data-v-9f189eb0]:link,
.users-box .like-users-list[data-v-9f189eb0]:visited {
    color: #babec0;
}

.like-users-panel[data-v-9f189eb0] {
    color: #babec0;
}


/* 7.商品、活动、追番 推荐 */

.shop-panel .shop-list[data-v-130673ff] {
    width: 100%;
    background-color: #2B2B2B;
    border-radius: 10px;
}

.shop-panel .panel-desc[data-v-130673ff] {
    color: #bcbcbc;
}

.shop-desc .desc-box .title[data-v-2277fe03] {
    color: #e1e1e1;
}

.shop-desc .btn-box .jump-btn[data-v-2277fe03] {
    opacity: 0.9;
}

.shop-panel .shop-list.is-repost[data-v-130673ff] {
    background-color: #2B2B2B;
}


/* 8.图片查看、控制 */

.imagesbox .boost-control[data-v-690d023e] {
    background: #2B2B2B;
}

.imagesbox .boost-control li[data-v-690d023e] {
    color: #8E8E8E;
}


/* 9.专栏 */

.article-container .text-area .title[data-v-3d352df6] {
    color: #e1e1e1;
}

.article-container .text-area .content[data-v-3d352df6] {
    color: #bcbcbc;
}

.article-container .images-area img[data-v-3d352df6]:first-child {
    opacity: 0.9;
}

.article-container:hover .text-area[data-v-3d352df6] {
    -webkit-box-shadow: 0 3px 10px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 50%);
}


/* 10.番剧 */

.bangumi-container .text-area .title[data-v-6d8fee64] {
    color: #e1e1e1;
}

.bangumi-container .text-area .title[data-v-6d8fee64] {
    margin-top: 9px;
}


/* 11.直播回放窗口*/

.video-container .text-area .title[data-v-4a97ece4] {
    color: #e1e1e1;
}

.video-container .text-area .content[data-v-4a97ece4] {
    color: #8e8e8e;
}


/* 12.动态发布时间 */

.card .main-content .time .detail-link[data-v-b5713636] {
    color: #8E8E8E;
}


/* 13.更多、举报、关注*/

.card .more-panel[data-v-b5713636] {
    background: #2B2B2B;
    border: 0px;
    -webkit-box-shadow: 0 11px 12px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 11px 12px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
    color: #e1e1e1;
}

.card .more-panel[data-v-b5713636]:after {
    border-top: 1px solid #2b2b2b;
    border-left: 1px solid #2B2B2B;
    background: #2B2B2B;
}


/* 话题 */

.new-topic-panel .tag-item .content[data-v-367b7f8d] {
    color: #e1e1e1;
}

.new-topic-panel .tag-item .label[data-v-367b7f8d] {
    background: #3b3b3b;
    color: #cccccc;
}


/* 关闭动态加载图 */

.loading-img {
    display: none;
}


/* 链接索引保持 */

.dynamic-link-hover-bg:hover {
    background-color: #3b3e40;
}


/* ———————————————————————————————————————— */


/* 导航栏 */

.international-header .mini-type,
.van-popover .mini-type {
    background: #5457585c!important;
    box-shadow: 0px 4px 4px 0 rgb(0 0 0 / 60%)!important;
}

.mini-type .nav-user-center .user-con .item .name {
    color: #e1e1e1!important;
}


/* 导航栏 游戏中心 */

.box {
    background: #222;
}

.brief span {
    color: #e2e2e2;
}

.all a {
    color: #ccc;
}

.all a:hover {
    color: #00a1d6;
    background-color: #403b3b;
}

.brief a:hover {
    background-color: #403b3b;
}


/* 导航栏 直播 */

.live-box[data-v-5e2bd0c0] {
    background: #222;
    border-radius: 20px;
}

.room-list .list-item .uname[data-v-5e2bd0c0] {
    color: #e2e2e2;
}

.act-list .list-item[data-v-5e2bd0c0]:hover {
    background: #403b3b;
}


/* 导航栏 漫画 */

.app-layout[data-v-0b4aa428] {
    background-color: #222;
}

.recommendation-list .list-item .item-title[data-v-7149acfe] {
    color: #e2e2e2;
}

.popularity-list .list-title[data-v-499a5b95] {
    color: #eee;
}

.popularity-list .item-list .list-item[data-v-499a5b95] {
    color: #eee;
}

.popularity-list .item-list .list-item[data-v-499a5b95]:hover,
.recommendation-list .list-item[data-v-7149acfe]:before {
    background-color: #403b3b;
}


/* 导航栏 三角 */

.van-popper[x-placement^=bottom] .popper__arrow:after {
    border-bottom-color: #222!important;
}

.van-popper[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #222!important;
}


/* 导航栏 用户信息框  */

.van-popper-avatar .vip[data-v-5314bca5] {
    color: #222!important;
}

.van-popper-avatar .level-info .grade[data-v-5314bca5] {
    color: #e1e1e1!important;
}

.van-popper-avatar .level-info .progress[data-v-5314bca5] {
    color: #e1e1e1!important;
}

.international-header a,
.van-popover a {
    color: #e1e1e1!important;
}

.van-popper-avatar .coins .contact .contact-tips[data-v-5314bca5] {
    border: 0px!important;
    background-color: #141414!important;
    color: #e1e1e1!important;
    border-radius: 10px!important;
}

.van-popper-avatar .coins .contact .email-tips[data-v-5314bca5]:after,
.van-popper-avatar .coins .contact .phone-tips[data-v-5314bca5]:after {
    background: #222!important;
}

.van-popper-avatar .count-item .item-key[data-v-5314bca5] {
    color: #e1e1e1!important;
}

.van-popper-avatar .count-item .item-value[data-v-5314bca5] {
    color: #e1e1e1!important;
}

.van-popper-avatar .links .link-title[data-v-5314bca5] {
    color: #e1e1e1!important;
}

.van-popper-avatar .link-icon[data-v-5314bca5] {
    color: #939393!important;
}

.lang-change .lang-title {
    color: #e1e1e1!important;
}

.lang-change .lang-icon {
    color: #939393!important;
}

.lang-change .lang-icon-more {
    color: #939393!important;
}

.van-popper-avatar .logout span[data-v-5314bca5] {
    color: #e1e1e1!important;
}

.van-popper-avatar .links .link-item[data-v-5314bca5]:hover {
    background: #3b3e40!important;
}

.lang-change .lang-intro {
    background: #222!important;
    color: #e1e1e1!important;
}

.van-popper-avatar .logout span[data-v-5314bca5]:hover {
    color: #e1e1e1!important;
    background: #3b3e40!important;
}

.van-popper-avatar .vp-container[data-v-5314bca5] {
    background: #222!important;
    border-radius: 10px!important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 75%)!important;
}

.lang-change .lang-item:hover {
    background: #3b3e40!important;
}

.lang-change .lang-intro-item:hover {
    background: #3b3e40!important;
}

.van-popper-avatar .level-intro[data-v-5314bca5] {
    background: #222!important;
    color: #e1e1e1!important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 75%)!important;
    border-radius: 10px!important;
}

.van-popover.van-popper.van-popper-avatar {
    border-radius: 12px!important;
}

.international-header a:hover,
.van-popover a:hover {
    color: #00A1D6!important;
}

.van-popper-avatar .count-item:hover .item-key[data-v-5314bca5],
.van-popper-avatar .count-item:hover .item-value[data-v-5314bca5] {
    color: #00A1D6!important;
    transition: color 0.3s;
}


/* --------------- */

.van-popover {
    background: #222!important;
    border-radius: 15px!important;
    color: #e1e1e1!important;
}


/* -------------- */


/* 导航栏 大会员 */

.follow-dialog-wrap .follow-dialog-window {
    background: #222!important;
    border-radius: 15px!important;
    box-shadow: rgb(0 0 0 / 50%) 0px 3px 6px !important;
}

.vip-m .bubble-traditional .recommand .title {
    color: #fffffff0!important;
}

.vip-m .bubble-traditional .recommand .bubble-col .item .recommand-link {
    color: #fffffff0!important;
}


/* 导航栏 消息 */

.im-list-box {
    color: #e5e9eff2!important;
    background: #222!important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.i-frame iframe[data-v-01c9e08c] {
    background: #fff0!important;
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    -webkit-box-shadow: 0 3px 6px 0 #000!important;
    box-shadow: 0 3px 6px 0 #000!important;
}

.i-frame[data-v-01c9e08c]::before {
    background-color: #222!important;
    -webkit-box-shadow: 0px 1px 0px #222!important;
    box-shadow: 0px 1px 0px #222!important;
}

.im-list:hover {
    color: #e1e1e1 !important;
    background-color: #3b3e40 !important;
}


/* 导航栏 动态 */

.i-frame[data-v-400d5653]::before {
    background-color: #222!important;
}

.out-container[data-v-e99755ec] {
    background-color: #222;
    box-shadow: 1px 6px 6px 0 rgb(0 0 0 / 50%);
    border-radius: 15px;
}

.content[data-v-2cacd430] {
    color: #e1e1e1;
}

.list-item[data-v-2cacd430]:hover {
    background-color: #3b3e40;
}

.more-btn[data-v-0de37f37]:hover {
    background-color: #505050;
}

.more-btn[data-v-0de37f37] {
    border-radius: 15px;
    color: #e1e1e1;
    background-color: #3b3b3b;
}

.split-line .history-tip[data-v-77141e7e] {
    background: #222;
    color: #e1e1e1;
}

.split-line .history-tip[data-v-213951fc] {
    background: #222;
    color: #e1e1e1;
}

.name-line[data-v-2cacd430] {
    font-size: 3.14136vw;
    color: #e7e7e7;
}


/* 导航栏 收藏 */

.van-popper-favorite .tab-item .title[data-v-64b63b5f] {
    color: #fffffff0!important;
}

.header-video-card[data-v-37582e0a]:hover {
    background-color: #f4f4f433!important;
}

.van-popper-favorite .tab-item--normal[data-v-e8d85714] {
    color: #e1e1e1!important;
}

.van-popper-favorite .tab-item--normal[data-v-e8d85714]:hover {
    background-color: #f4f4f433!important;
}

.header-video-card .video-info .line-2[data-v-37582e0a] {
    color: #e1e1e1!important;
}

.van-popper-favorite .play-all[data-v-e8d85714] {
    background-color: transparent!important;
}

.van-popper-favorite .play-all.view[data-v-e8d85714] {
    border-right: 1px solid #e7e7e780!important;
}

.van-popper-favorite .play-all[data-v-e8d85714]:hover {
    background-color: #f4f4f433!important;
}


/* 导航栏 历史 */

.header-video-card .video-info .line-1[data-v-37582e0a] {
    color: #e7e7e7!important;
}

.header-video-card .video-info .desc[data-v-37582e0a] {
    color: #e7e7e7!important;
}


/* 导航栏 投稿 */

.bilifont[data-v-0fdc0c18] {
    color: #e1e1e1!important;
}


/* ———————————————————————————————————————— */


/* _________________________________________ */


/* 1.用户信息 */


/* 2.用户卡片 */

.userinfo-content[data-v-5d2b75e8] {
    background: #222;
    color: #6d757a;
    border-radius: 10px;
}

.userinfo-wrapper[data-v-5e6ddf5c] {
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    border: 0px;
    border-radius: 10px;
}

.userinfo-content .info p[data-v-5d2b75e8] {
    color: #8E8E8E;
}

.userinfo-content .bg[data-v-5d2b75e8] {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user-card .btn-box .like {
    color: #fff;
    background-color: #00a1d6;
    border-radius: 15px;
}

.user-card .btn-box .message,
.userinfo-content .btn-box>a[data-v-5d2b75e8] {
    background-color: #505050;
    border-radius: 15px;
}

.user-card .btn-box a,
.userinfo-content .btn-box>a[data-v-5d2b75e8] {
    border: 0px;
    color: #ffffffb3;
    background-color: #676767;
}

.userinfo-content .btn-box>a[data-v-5d2b75e8]:hover {
    color: #ffffffb3;
}

.user-card .btn-box a:hover,
.userinfo-content .btn-box>a.liked[data-v-5d2b75e8]:hover {
    color: #ffffffb3;
    background-color: #676767;
}

.userinfo-content .btn-box>a.liked[data-v-5d2b75e8],
.user-card .btn-box a,
.userinfo-content .btn-box>a[data-v-5d2b75e8] {
    background-color: #3b3b3b;
    color: #ffffffb3;
}

.userinfo-content .btn-box>a.liked[data-v-5d2b75e8]:hover,
.userinfo-content .btn-box>a[data-v-5d2b75e8]:hover {
    background-color: #505050;
    color: #ffffffb3;
}


/* 用户名称 */

.userinfo-content .info .user .name[data-v-5d2b75e8] {
    color: #e1e1e1;
}


/* 描述文本 */

.userinfo-content .info .sign[data-v-5d2b75e8] {
    color: #bcbcbc;
}


/* —————————————————————————————————— */