    /* 
    配置信息
    1.导航栏
    2.背景更改
    3.卡片
    4.卡片样式修改
    5.评论
    */
    /* 1.导航栏 */
    /* 2.背景更改 */
    
    #app {
        background: #161819;
    }
    /* 3.卡片 */
    /* 4.卡片样式修改 */
    
    .card[data-v-b5713636] {
        border-radius: 15px!important;
        border: 0px!important;
    }
    /* 5.评论 */