/* 导航栏 用户信息框  */

.van-popper-avatar .vip[data-v-5314bca5] {
    color: #222!important;
}

.van-popper-avatar .level-info .grade[data-v-5314bca5] {
    color: #e1e1e1!important;
}

.van-popper-avatar .level-info .progress[data-v-5314bca5] {
    color: #e1e1e1!important;
}

.international-header a,
.van-popover a {
    color: #e1e1e1!important;
}

.van-popper-avatar .coins .contact .contact-tips[data-v-5314bca5] {
    border: 0px!important;
    background-color: #141414!important;
    color: #e1e1e1!important;
    border-radius: 10px!important;
}

.van-popper-avatar .coins .contact .email-tips[data-v-5314bca5]:after,
.van-popper-avatar .coins .contact .phone-tips[data-v-5314bca5]:after {
    background: #222!important;
}

.van-popper-avatar .count-item .item-key[data-v-5314bca5] {
    color: #e1e1e1!important;
}

.van-popper-avatar .count-item .item-value[data-v-5314bca5] {
    color: #e1e1e1!important;
}

.van-popper-avatar .links .link-title[data-v-5314bca5] {
    color: #e1e1e1!important;
}

.van-popper-avatar .link-icon[data-v-5314bca5] {
    color: #939393!important;
}

.lang-change .lang-title {
    color: #e1e1e1!important;
}

.lang-change .lang-icon {
    color: #939393!important;
}

.lang-change .lang-icon-more {
    color: #939393!important;
}

.van-popper-avatar .logout span[data-v-5314bca5] {
    color: #e1e1e1!important;
}

.van-popper-avatar .links .link-item[data-v-5314bca5]:hover {
    background: #3b3e40!important;
}

.lang-change .lang-intro {
    background: #222!important;
    color: #e1e1e1!important;
}

.van-popper-avatar .logout span[data-v-5314bca5]:hover {
    color: #e1e1e1!important;
    background: #3b3e40!important;
}

.van-popper-avatar .vp-container[data-v-5314bca5] {
    background: #222!important;
    border-radius: 10px!important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 75%)!important;
}

.lang-change .lang-item:hover {
    background: #3b3e40!important;
}

.lang-change .lang-intro-item:hover {
    background: #3b3e40!important;
}

.van-popper-avatar .level-intro[data-v-5314bca5] {
    background: #222!important;
    color: #e1e1e1!important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 75%)!important;
    border-radius: 10px!important;
}

.van-popover.van-popper.van-popper-avatar {
    border-radius: 12px!important;
}

.international-header a:hover,
.van-popover a:hover {
    color: #00A1D6!important;
}

.van-popper-avatar .count-item:hover .item-key[data-v-5314bca5],
.van-popper-avatar .count-item:hover .item-value[data-v-5314bca5] {
    color: #00A1D6!important;
    transition: color 0.3s;
}


/* 导航栏 大会员 */

.follow-dialog-wrap .follow-dialog-window {
    background: #222!important;
    border-radius: 15px!important;
}

.vip-m .bubble-traditional .recommand .title {
    color: #fffffff0!important;
}

.vip-m .bubble-traditional .recommand .bubble-col .item .recommand-link {
    color: #fffffff0!important;
}


/* 导航栏 消息 */

.im-list-box {
    color: #e5e9eff2!important;
    background: #222!important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.i-frame iframe[data-v-01c9e08c] {
    background: #fff0!important;
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    -webkit-box-shadow: 0 3px 6px 0 #000!important;
    box-shadow: 0 3px 6px 0 #000!important;
}

.i-frame[data-v-01c9e08c]::before {
    background-color: #222!important;
    -webkit-box-shadow: -1px -1px 1px #000!important;
    box-shadow: -1px -1px 1px #000!important;
}

.im-list:hover {
    color: #e1e1e1 !important;
    background-color: #3b3e40 !important;
}


/* --------------------------------------------------------- */