/* 普通视频播放页-深色模式 */

a {
    color: #e1e1e1;
}

.video-page-card .card-box .info .title {
    color: #e7e7e7eb;
}


/* 视频选择页 */

.multi-page {
    background: #222;
    border-radius: 10px;
    box-shadow: 0 1px 2px #0e0e0e;
}

.multi-page .head-con .head-left h3 {
    color: #e7e7e7e8;
}

.multi-page .cur-list .list-box li.on {
    background: #46484a;
}

.multi-page .cur-list .list-box li:hover {
    background: #595c5f;
}

.multi-page .cur-list .list-box li a {
    color: #e7e7e7e8;
}

.multi-page .cur-list .module-box li {
    background: #505050;
    border: 1px solid #505050!important;
}


/* 视频发布成员 */

.members-info .avatar .info-tag[data-v-97401e06] {
    background: #222;
}

.members-info__header[data-v-97401e06] {
    background-color: #5050505c;
}

.members-info__header .title[data-v-97401e06] {
    color: #e2e2e2f0;
}


/* ——————————————————————————————弹幕库 */


/* 弹幕库 */

.bui-collapse .bui-collapse-header {
    background: #222!important;
    border-radius: 10px!important;
}

.player-auxiliary-area .player-auxiliary-filter-title {
    color: #e7e7e7e8!important;
}

.bui-collapse .bui-collapse-header .bui-collapse-arrow {
    color: #8E8E8E!important;
}

.player-auxiliary-area .player-auxiliary-danmaku .player-auxiliary-danmaku-function {
    background-color: #2b2b2b!important;
}

.v-wrap .danmaku-wrap {
    border-radius: 15px!important;
}

.v-wrap .danmaku-wrap {
    background: #222!important;
}


/* 展开 */

.player-auxiliary-area .player-auxiliary-danmaku .player-auxiliary-danmaku-function [class*=player-auxiliary-danmaku-btn-] {
    color: #bcbcbc!important;
}

.player-auxiliary-area .player-auxiliary-danmaku .player-auxiliary-danmaku-function [class*=player-auxiliary-danmaku-btn-] {
    background: #2b2b2b!important;
}

.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap {
    background-color: #2b2b2b!important;
}

.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .player-auxiliary-danmaku-list .danmaku-info-row span.danmaku-info-danmaku,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .player-auxiliary-danmaku-list .danmaku-info-row {
    color: #bcbcbc!important;
}

.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .player-auxiliary-danmaku-list .danmaku-info-row .danmaku-info-block-btn,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .player-auxiliary-danmaku-list .danmaku-info-row .danmaku-info-protect-btn,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .player-auxiliary-danmaku-list .danmaku-info-row .danmaku-info-report-btn {
    background: #2b2b2b!important;
}

.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .player-auxiliary-danmaku-list .danmaku-info-row .danmaku-info-block-btn:hover,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .player-auxiliary-danmaku-list .danmaku-info-row .danmaku-info-protect-btn:hover,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .player-auxiliary-danmaku-list .danmaku-info-row .danmaku-info-report-btn:hover {
    background-color: #00a1d67d!important;
    color: #dcdcdc!important;
}

.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .player-auxiliary-danmaku-list .danmaku-info-row .danmaku-info-block-btn,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .player-auxiliary-danmaku-list .danmaku-info-row .danmaku-info-protect-btn,
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .player-auxiliary-danmaku-list .danmaku-info-row .danmaku-info-report-btn {
    border: 1px solid var(--bpx-primary-color, #00a1d67d)!important;
}

.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-btn-footer {
    background: #2b2b2b!important;
}

.bui-button.bui-button-gray2 {
    color: #ffffffb3!important;
    background-color: #505050 !important;
}

.bui-button.bui-button-gray2:hover {
    background-color: #505050!important;
    color: #ffffffb3!important;
}

.player-auxiliary-area .player-auxiliary-filter .player-auxiliary-setting-menu-wrap {
    background-color: #222!important;
    border-radius: 10px!important;
    border: 1px solid #f4f4f433!important;
}

.player-auxiliary-area .player-auxiliary-filter .player-auxiliary-setting-menu-wrap .player-auxiliary-setting-menu-list {
    background-color: #222!important;
    color: #bcbcbc!important;
}

.player-auxiliary-area .player-auxiliary-filter .player-auxiliary-setting-menu-wrap .player-auxiliary-setting-menu-list:hover {
    color: #00a1d6!important;
    background-color: #3b3b3b!important;
}

.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-wrap .player-auxiliary-danmaku-load-status {
    background: #2b2b2bd6!important;
    color: #bcbcbc!important;
}


/*  */

.player-auxiliary-area .player-auxiliary-filter,
.bui-collapse .bui-collapse-header {
    color: #222;
}

.main-container .plp-r .danmaku-box .danmaku-wrap {
    border-radius: 10px;
    background-color: #222;
}

.player-auxiliary-area .player-auxiliary-filter {
    border-top-left-radius: 10px;
}

.bui-collapse .bui-collapse-header .bui-collapse-arrow {
    color: #a7a7a7;
}

.player-auxiliary-area .player-auxiliary-filter .player-auxiliary-setting-menu-wrap {
    background-color: #4e4e4e;
    -webkit-box-shadow: 0 2px 4px 0 #1b1b1b;
    box-shadow: 0 2px 4px 0 #1b1b1b;
    background-color: #798086;
}

.player-auxiliary-area .player-auxiliary-filter .player-auxiliary-setting-menu-wrap .player-auxiliary-setting-menu-list,
.player-auxiliary-area .player-auxiliary-filter .player-auxiliary-setting-menu-wrap {
    background-color: #4e4e4e;
}


/* ——————————————————————————————弹幕库 */


/* _________________________________其他 */


/* page video uploader */

.video-info .video-title {
    color: #e5e9ef;
}

.recommend-list .rec-title {
    color: #e7e7e7e8;
}

.info .title[data-v-3a7137fb] {
    color: #e7e7e7e8;
}

.video-desc .info {
    color: #e2e2e2f0;
}


/* comment title */

.comment-m .b-head {
    color: #e7e7e7e8;
}


/* comment up think it is good */

.bb-comment .comment-list .list-item .info .reply-tags span,
.comment-bilibili-fold .comment-list .list-item .info .reply-tags span {
    background: #505050!important;
    border-radius: 12px!important;
    color: #ffffffcc!important;
}


/* tag */

.s_tag .tag-area>li {
    background: #505050;
    border: 1px solid #505050;
}

.s_tag .tag-area>li .tag-link {
    color: #ffffffcc;
}

.s_tag .btn-add {
    background: #505050;
}

.s_tag .btn-add span {
    background: #ffffffcc;
}


/* for up charge */

.up-info .btn-panel .not-follow-charge-btn {
    background: #161819;
}


/* toolbar */

.video-toolbar .ops>span i {
    color: #ddd;
}

.video-toolbar .ops>span {
    color: #ddd;
}


/* appeal text toolbar */

.video-toolbar .appeal-text {
    color: #ddd;
}


/* show more */

.video-desc .btn span {
    cursor: pointer;
    color: #e2e2e2f0;
}


/* activity show */

.activity-m.act-now .l-inside .hinter-msg {
    line-height: 20px;
    color: #e2e2e2f0;
}


/* comment common name fix */


/* _________________________________其他 */


/* ——————————————————————————————————评论 */


/* 5.评论*/

.bb-comment .comment-list .list-item .text,
.comment-bilibili-fold .comment-list .list-item .text,
.bb-comment .comment-list .list-item .user .text-con,
.comment-bilibili-fold .comment-list .list-item .user .text-con {
    color: #e7e7e7e0!important;
}

.bb-comment .comment-list .list-item .info>span,
.comment-bilibili-fold .comment-list .list-item .info>span {
    color: #ffffffb3!important;
}

.bb-comment .comment-send .textarea-container textarea,
.comment-bilibili-fold .comment-send .textarea-container textarea {
    background-color: #2b2b2b!important;
    border: 0px!important;
    color: #e2e2e2!important;
}

.bb-comment .comment-send .textarea-container:hover textarea,
.comment-bilibili-fold .comment-send .textarea-container:hover textarea,
.bb-comment .comment-send .textarea-container.focus textarea,
.comment-bilibili-fold .comment-send .textarea-container.focus textarea {
    border: 1px solid #00a1d6!important;
    color: #e2e2e2!important;
}

.bb-comment .comment-send .textarea-container:hover textarea,
.comment-bilibili-fold .comment-send .textarea-container:hover textarea,
.bb-comment .comment-send .textarea-container.focus textarea,
.comment-bilibili-fold .comment-send .textarea-container.focus textarea {
    color: #505050!important;
}


/* 评论排序白字 */

.bb-comment .comment-header .tabs-order li,
.comment-bilibili-fold .comment-header .tabs-order li {
    color: #ffffffb5!important;
}


/* 评论横线降亮度 */

.bb-comment .comment-header,
.comment-bilibili-fold .comment-header {
    border-bottom: 1px solid #e5e9ef8a!important;
}

.bb-comment .comment-list .list-item .con,
.comment-bilibili-fold .comment-list .list-item .con {
    border-top: 1px solid #e5e9ef8a!important;
}


/* 评论username */

.bb-comment .comment-list .list-item .user .name,
.comment-bilibili-fold .comment-list .list-item .user .name {
    color: #e4e9ecf2;
}


/* 评论排序 */

.bb-comment .comment-header .tabs-order li.on,
.comment-bilibili-fold .comment-header .tabs-order li.on {
    color: #00a1d6!important;
}


/* 表情 */

.bb-comment .comment-send .comment-emoji,
.comment-bilibili-fold .comment-send .comment-emoji,
.bb-comment .comment-send-lite .comment-emoji,
.comment-bilibili-fold .comment-send-lite .comment-emoji {
    color: #bcbcbc!important;
    border: 1px solid #bcbcbc!important;
}

.bb-comment .comment-send .comment-emoji .face,
.comment-bilibili-fold .comment-send .comment-emoji .face,
.bb-comment .comment-send-lite .comment-emoji .face,
.comment-bilibili-fold .comment-send-lite .comment-emoji .face {
    width: 0px!important;
    height: 0px!important;
    margin-right: 0px!important;
    background: #222!important;
}

.bb-comment .comment-send .comment-emoji,
.comment-bilibili-fold .comment-send .comment-emoji,
.bb-comment .comment-send-lite .comment-emoji,
.comment-bilibili-fold .comment-send-lite .comment-emoji {
    width: 60px!important;
    color: #bcbcbc!important;
    border: 1px solid #bcbcbc!important;
    border-radius: 15px!important;
    margin-top: 8px!important;
}

.bb-comment .comment-send .comment-emoji .text,
.comment-bilibili-fold .comment-send .comment-emoji .text,
.bb-comment .comment-send-lite .comment-emoji .text,
.comment-bilibili-fold .comment-send-lite .comment-emoji .text {
    vertical-align: inherit!important;
}


/* _______表情________ */


/* 窗口外观 */

.emoji-box {
    border: 0px!important;
    border-radius: 10px!important;
    background-color: #2B2B2B!important;
    -webkit-box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%)!important;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%)!important;
}


/* 标题-表情 */

.title[data-v-00b4b4ea],
.emoji-box .emoji-title {
    padding: 15px;
    font-size: 14px;
    color: #e1e1e1;
    text-align: left;
}


/* emoji背景透明 */

.emoji[data-v-60ae9c4d] {
    background-color: transparent;
}


/* 选中表情 */

.emoji[data-v-60ae9c4d]:hover,
.emoji-box .emoji-text:hover,
.emoji-box .emoji-tabs .tab-link:hover {
    background-color: #403b3b!important;
}


/* 颜文字适配 */

.dp-i-block[data-v-60ae9c4d],
.emoji-box .emoji-text {
    display: inline-block;
    color: #e1e1e1!important;
}


/* 底部表情选择 */

.pagination[data-v-97c4281e],
.emoji-box .emoji-tabs {
    position: relative!important;
    width: 100%!important;
    border-bottom-left-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
    background-color: #222!important;
}

.emoji-cover.selected[data-v-97c4281e],
.emoji-box .emoji-tabs .tab-link.on {
    background-color: #403b3b!important;
}

.emoji-box .emoji-tabs .tab-link.on {
    background-color: #403b3b!important;
}


/* 翻页 */

.page-controller .prev[data-v-97c4281e]:hover,
.page-controller .next[data-v-97c4281e]:hover {
    background-color: #403b3b;
    color: #e1e1e1;
}

.page-controller .prev[data-v-97c4281e],
.page-controller .next[data-v-97c4281e] {
    color: #e1e1e1;
}

.page-controller .prev.disabled[data-v-97c4281e],
.page-controller .next.disabled[data-v-97c4281e] {
    color: #8E8E8E!important;
}

.emoji-box .emoji-tabs .emoji-tab-slider .prev {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIzLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IuWbvuWxgl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMTYgMTYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2IDE2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6Izc1NzU3NTt9Cjwvc3R5bGU+Cjx0aXRsZT5nZW5lcmFsX2VudGVyX3M8L3RpdGxlPgo8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KPHBhdGggaWQ9IkNvbWJpbmVkLVNoYXBlIiBjbGFzcz0ic3QwIiBkPSJNOS4yLDhsLTMuNCwzLjRjLTAuMywwLjMtMC4zLDAuOCwwLDEuMWMwLjMsMC4zLDAuOCwwLjMsMS4xLDBsMy45LTMuOQoJYzAuMy0wLjMsMC4zLTAuOCwwLTEuMUw2LjksMy42Yy0wLjMtMC4zLTAuOC0wLjMtMS4xLDBjLTAuMywwLjMtMC4zLDAuOCwwLDEuMUw5LjIsOHoiLz4KPC9zdmc+Cg==)!important;
    transform: rotate( 180deg)!important;
}

.emoji-box .emoji-tabs .emoji-tab-slider .next.on {
    background: url(//s1.hdslb.com/bfs/seed/jinkela/commentpc/./img/left-arrow-disable.1c51ed4.svg) no-repeat!important;
    transform: rotate( 180deg)!important;
}


/* 3.视频卡片底部 */

.bilibili-player-video-sendbar {
    background: #212121!important;
}


/* 视频底框 */

.bilibili-player-video-info {
    color: #ded9d9!important;
}


/* 底框视频信息 */

.bilibili-player-video-sendbar .bilibili-player-video-inputbar {
    color: #999!important;
    background-color: #505050;
}

.bilibili-player-video-sendbar .bilibili-player-video-inputbar .bilibili-player-video-danmaku-input {
    color: #ccd0d7!important;
}


/* 底框评论栏、输入文字 */

.bilibili-player .bui-button.bui-button-blue,
.bilibili-player .bui-button.bui-button-gray3:hover,
.bilibili-player .bui-button.bui-button-gray:hover {
    opacity: 0.9!important;
}


/* 发送按键 */

.bilibili-player-video-sendbar .bilibili-player-video-inputbar .bilibili-player-video-inputbar-wrap {
    border: 0px!important;
    background-color: #505050!important;
}


/* 去评论边框 */


/* 评论-用户名 */

.bb-comment .comment-list .list-item .reply-box .reply-item .reply-con .user .name,
.comment-bilibili-fold .comment-list .list-item .reply-box .reply-item .reply-con .user .name {
    color: #bcbcbc;
}


/* 评论-共--条回复 */

.bb-comment .comment-list .list-item .reply-box .view-more,
.comment-bilibili-fold .comment-list .list-item .reply-box .view-more {
    color: #bcbcbc!important;
}


/* 评论-回复保持 */

.bb-comment .comment-list .list-item .info .btn-hover:hover,
.comment-bilibili-fold .comment-list .list-item .info .btn-hover:hover,
.bb-comment .comment-list .list-item .reply-box .view-more .btn-more:hover,
.comment-bilibili-fold .comment-list .list-item .reply-box .view-more .btn-more:hover {
    background: #505050!important;
}


/* 评论-加入黑名单、举报 */

.bb-comment .operation .opera-list,
.comment-bilibili-fold .operation .opera-list {
    background: #222!important;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 20%)!important;
    color: #bcbcbc!important;
    border-radius: 10px!important;
}

.bb-comment .operation .opera-list li:hover,
.comment-bilibili-fold .operation .opera-list li:hover {
    background: #505050!important;
}


/* 评论-翻页 */

.paging-box .current,
.paging-box .next,
.paging-box .prev,
.paging-box .tcd-number,
.paging-box .dian,
.paging-box .result {
    color: #bcbcbc!important;
}

.paging-box .current:hover,
.paging-box .next:hover,
.paging-box .prev:hover,
.paging-box .tcd-number:hover,
.paging-box .dian:hover {
    color: #00a1d6!important;
}

.paging-box .current {
    color: #00a1d6!important;
}


/* 滑动出现的评论发送修复 */

.bb-comment .comment-send .textarea-container .ipt-txt,
.comment-bilibili-fold .comment-send .textarea-container .ipt-txt,
.bb-comment .comment-send-lite .textarea-container .ipt-txt,
.comment-bilibili-fold .comment-send-lite .textarea-container .ipt-txt {
    background-color: #2b2b2b!important;
    border: 0px!important;
    border-radius: 10px!important;
    color: #e1e1e1!important;
}

.bb-comment .comment-send .textarea-container:hover textarea,
.comment-bilibili-fold .comment-send .textarea-container:hover textarea,
.bb-comment .comment-send-lite .textarea-container:hover textarea,
.comment-bilibili-fold .comment-send-lite .textarea-container:hover textarea,
.bb-comment .comment-send .textarea-container.focus textarea,
.comment-bilibili-fold .comment-send .textarea-container.focus textarea,
.bb-comment .comment-send-lite .textarea-container.focus textarea,
.comment-bilibili-fold .comment-send-lite .textarea-container.focus textarea {
    background-color: #505050!important;
    border: 1px solid #00a1d6!important;
}

::placeholder {
    color: #8E8E8E!important;
}


/* comment info fix*/

.bb-comment .comment-list .list-item .info .btn-hover:hover,
.comment-bilibili-fold .comment-list .list-item .info .btn-hover:hover {
    color: #00a1d6;
    background: #161819;
}

.bb-comment,
.comment-bilibili-fold,
.bb-comment .comment-send.comment-send-lite,
.comment-bilibili-fold .comment-send.comment-send-lite,
.bb-comment .comment-send-lite.comment-send-lite,
.comment-bilibili-fold .comment-send-lite.comment-send-lite {
    background: #161819!important;
}


/* ——————————————————————————————————评论 */


/* ——————————————————————————————————视频 */


/* 3.视频卡片底部 */

.bilibili-player-video-sendbar {
    background: #212121!important;
}


/* 视频底框 */

.bilibili-player-video-info {
    color: #ded9d9!important;
}


/* 底框视频信息 */

.bilibili-player-video-sendbar .bilibili-player-video-inputbar {
    color: #999!important;
    background-color: #505050;
}

.bilibili-player-video-sendbar .bilibili-player-video-inputbar .bilibili-player-video-danmaku-input {
    color: #ccd0d7!important;
}


/* 底框评论栏、输入文字 */

.bilibili-player .bui-button.bui-button-blue,
.bilibili-player .bui-button.bui-button-gray3:hover,
.bilibili-player .bui-button.bui-button-gray:hover {
    opacity: 0.9!important;
}


/* 发送按键 */

.bilibili-player-video-sendbar .bilibili-player-video-inputbar .bilibili-player-video-inputbar-wrap {
    border: 0px!important;
    background-color: #505050!important;
}


/* 去评论边框 */


/* 2.视频卡片阴影 */

.bilibili-player {
    box-shadow: 0 0 8px #040404!important;
}


/* ——————————————————————————————————视频 */


/* 视频描述 */

.video-desc .desc-info,
.video-desc .toggle-btn span {
    color: #bcbcbc;
}


/* 视频标签卡片 */

.tag-channel-pane .bg-image[data-v-7aa389d0],
.tag-channel-pane .bg-mask[data-v-7aa389d0] {
    border-radius: 10px 10px 0 0!important;
}

.tag-channel-pane[data-v-7aa389d0] {
    background: #222!important;
    border-radius: 10px!important;
}

.tag-channel-pane .channel-title[data-v-7aa389d0] {
    color: #bcbcbc;
}

.tag-info-pane {
    background: #222;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    border-radius: 10px;
}

.tag-info-pane .tag-header .tag-title,
.tag-info-pane .text,
.tag-info-pane .tag-header .tag-title a {
    color: #bcbcbc;
}


/* 右侧视频栏、展开 */

.recommend-list .rec-footer {
    background: #3b3b3b;
    color: #ffffffb3;
}


/* 右侧导航栏 */

.float-nav .nav-menu .item {
    background: #505050;
    border: 0px;
    color: #ffffffcc;
}


/* 视频页面-用手机看、稍后再看 */

.more-ops-list {
    background: #222;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
    border: 0px;
}

.more-ops-list li:hover {
    color: #00a1d6;
    background: #505050;
}

.more-ops-list li {
    color: #bcbcbc;
}