/* _________________________________________ */


/* 1.用户信息 */


/* 2.用户卡片 */

.userinfo-content[data-v-5d2b75e8] {
    background: #222;
    color: #6d757a;
    border-radius: 10px;
}

.userinfo-wrapper[data-v-5e6ddf5c] {
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    border: 0px;
    border-radius: 10px;
}

.userinfo-content .info p[data-v-5d2b75e8] {
    color: #8E8E8E;
}

.userinfo-content .bg[data-v-5d2b75e8] {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user-card .btn-box .like {
    color: #fff;
    background-color: #00a1d6;
    border-radius: 15px;
}

.user-card .btn-box .message,
.userinfo-content .btn-box>a[data-v-5d2b75e8] {
    background-color: #505050;
    border-radius: 15px;
}

.user-card .btn-box a,
.userinfo-content .btn-box>a[data-v-5d2b75e8] {
    border: 0px;
    color: #ffffffb3;
    background-color: #676767;
}

.userinfo-content .btn-box>a[data-v-5d2b75e8]:hover {
    color: #ffffffb3;
}

.user-card .btn-box a:hover,
.userinfo-content .btn-box>a.liked[data-v-5d2b75e8]:hover {
    color: #ffffffb3;
    background-color: #676767;
}

.userinfo-content .btn-box>a.liked[data-v-5d2b75e8],
.user-card .btn-box a,
.userinfo-content .btn-box>a[data-v-5d2b75e8] {
    background-color: #3b3b3b;
    color: #ffffffb3;
}

.userinfo-content .btn-box>a.liked[data-v-5d2b75e8]:hover,
.userinfo-content .btn-box>a[data-v-5d2b75e8]:hover {
    background-color: #505050;
    color: #ffffffb3;
}


/* 用户名称 */

.userinfo-content .info .user .name[data-v-5d2b75e8] {
    color: #e1e1e1;
}


/* 描述文本 */

.userinfo-content .info .sign[data-v-5d2b75e8] {
    color: #bcbcbc;
}