/* ———————————————————————————————— */


/* 动态发布-表情 */


/* 窗口外观 */

.static-popup[data-v-00b4b4ea] {
    border: 0px;
    border-radius: 10px;
    background-color: #2B2B2B;
    -webkit-box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%);
}


/* 标题-表情 */

.title[data-v-00b4b4ea] {
    padding: 15px;
    font-size: 14px;
    color: #e1e1e1;
    text-align: left;
}


/* emoji背景透明 */

.emoji[data-v-60ae9c4d] {
    background-color: transparent;
}


/* 选中表情 */

.emoji[data-v-60ae9c4d]:hover {
    background-color: #403b3b;
}


/* 颜文字适配 */

.dp-i-block[data-v-60ae9c4d] {
    display: inline-block;
    color: #e1e1e1;
}


/* 底部表情选择 */

.pagination[data-v-97c4281e] {
    position: relative;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #222;
}

.emoji-cover.selected[data-v-97c4281e] {
    background-color: #403b3b;
}


/* 翻页 */

.page-controller .prev[data-v-97c4281e]:hover,
.page-controller .next[data-v-97c4281e]:hover {
    background-color: #403b3b;
    color: #e1e1e1;
}

.page-controller .prev[data-v-97c4281e],
.page-controller .next[data-v-97c4281e] {
    color: #e1e1e1;
}

.page-controller .prev.disabled[data-v-97c4281e],
.page-controller .next.disabled[data-v-97c4281e] {
    color: #8E8E8E!important;
}


/* ———————————————————————————————— */