/* 课堂-深色模式
https://www.bilibili.com/cheese/ */


/* 标题 */

.block-title,
.title,
.block-page-progress,
.block-title .main,
.title_txt {
    color: #e1e1e1!important;
}

.myClassroom[data-v-768a6cdf],
.block-list-item-title[data-v-2192be56],
.rank-title[data-v-b576269e],
.block-list-item-title[data-v-0a31c1fd],
.block-title .sub-title[data-v-7d27b490] {
    color: #e1e1e1;
}


/* 更亮的副标题文字 */

.item[data-v-768a6cdf],
.block-list-item-desc[data-v-2192be56],
.time-line-wrapper .time[data-v-29beee50] {
    color: #bcbcbc;
}


/* 背景颜色 */

.tags {
    background-color: #161819!important;
}


/* 按钮背景颜色 */

.backTop-item.bor[data-v-dcae897a],
.backTop-item[data-v-dcae897a]:nth-child(n+2) {
    background: #3b3b3b;
}


/* —————————————————————————————————————————————————————— */


/* 右侧悬浮导航栏 */

.backTop-item[data-v-dcae897a] {
    border-bottom: 1px solid #ffffff1f;
}

.backTop-item[data-v-dcae897a]:last-child {
    border: 0px;
}


/* 切换翻页样式修改 */

.block-list .slider-contro .slider-next {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURUxpcenp6efn5+fn5+fn5+fn5+fn5+fn5+fn5xbfqDMAAAAIdFJOUwAMIcPhqpvRy08zNQAAAC9JREFUKM9jYKApEE1A5TNaFKAKCLcooClworsCVjQFmAIYWjAMpaeSAgKBTE0AAPJKDR/znmWLAAAAAElFTkSuQmCC);
    -webkit-transform: rotate( 180deg);
    -ms-transform: rotate(180deg);
    transform: rotate( 180deg);
}

.block-list .slider-contro .slider-next:hover {
    background-color: #3b3b3b;
    -webkit-transform: rotate( 0deg);
    -ms-transform: rotate(0deg);
    transform: rotate( 0deg);
}

.block-list .slider-contro .slider-next.disabled {
    pointer-events: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURUxpcSoqKiYmJiIiIiIiIiEhISIiIiIiIiEhIR/wiRkAAAAIdFJOUwAMIcPhqpvRy08zNQAAAC5JREFUKM9jYKAZYAtEE2BvFkAVYPIwRFOiMoBKAggIoGvBMJQOCjCCECOQqQwAa+IMp83lbxQAAAAASUVORK5CYII=);
    right: 0;
    left: auto;
}

.block-list .slider-contro .slider-prev {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURUxpcenp6efn5+fn5+fn5+fn5+fn5+fn5+fn5xbfqDMAAAAIdFJOUwAMIcPhqpvRy08zNQAAAC9JREFUKM9jYKApEE1A5TNaFKAKCLcooClworsCVjQFmAIYWjAMpaeSAgKBTE0AAPJKDR/znmWLAAAAAElFTkSuQmCC);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.block-list .slider-contro .slider-prev:hover {
    background-color: #3b3b3b;
    -webkit-transform: rotate( 180deg);
    -ms-transform: rotate(180deg);
    transform: rotate( 180deg);
}

.block-list .slider-contro .slider-prev.disabled {
    pointer-events: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURUxpcSoqKiYmJiIiIiIiIiEhISIiIiIiIiEhIR/wiRkAAAAIdFJOUwAMIcPhqpvRy08zNQAAAC5JREFUKM9jYKAZYAtEE2BvFkAVYPIwRFOiMoBKAggIoGvBMJQOCjCCECOQqQwAa+IMp83lbxQAAAAASUVORK5CYII=);
    -webkit-transform: rotate( 180deg);
    -ms-transform: rotate(180deg);
    transform: rotate( 180deg);
}


/* 排行榜 */

.rank-index[data-v-b576269e] {
    color: #fff;
    background: #999;
    border-radius: 10px;
}