/* 页面通用底部 */

.international-footer {
    background-color: #171617;
}

.international-footer a,
.international-footer .link-box .link-item.link-c p {
    color: #c1c1c1;
}

.international-footer .link-box .link-item {
    border-right: 1px solid #c1c1c1;
}


/* 底部微信hover修复 */

.international-footer .link-box .link-item.link-c a.weixin:hover p {
    color: #00a1d6;
}


/* 底部二维码降亮度 */

.qrcode {
    opacity: 0.9;
}