/* 频道
   1.导航栏
   2.页面通用底部
   3.频道导航栏
   4.副导航栏
   5.标题
   6.更多、三日、一周、换一换
   7.排行榜
   8.全部、原创-tab切换
   9.全部、收起
   10.anime index
   11.返回顶部
   12.视频信息卡片
 */


/* 6.更多、三日、一周、换一换 */

.rcmd-box-wrap .change-btn,
.rank-header .more,
.exchange-btn .btn,
.rank-header .more,
.exchange-btn .btn {
    color: #ccc;
}

.rcmd-box-wrap .change-btn:hover,
.exchange-btn .btn:hover,
.rank-header .more:hover {
    background-color: #282b2d!important;
}


/* show more */

.sec-rank .more-link,
.new-stat-module .zone-title .headline .new-stat-more,
.random-change,
.block-area .follow-wrapper .follow-head .follow-more,
.pgc-rank-dropdown,
.pgc-rank-dropdown .dropdown-list,
.video-floor-m .zone-title .headline .link-more,
.bili-dropdown {
    background-color: #3b3b3b;
    border: 1px solid #3b3b3b;
    color: rgba(255, 255, 255, 0.68);
    border-radius: 15px;
    font-size: 13px;
}

.sec-rank .more-link:hover,
.new-stat-module .zone-title .headline .new-stat-more:hover,
.random-change:hover,
.block-area .follow-wrapper .follow-head .follow-more:hover,
.pgc-rank-dropdown .dropdown-list .dropdown-item:hover,
.video-floor-m .zone-title .headline .link-more:hover,
.bili-dropdown:hover,
.bili-dropdown .dropdown-list .dropdown-item:hover,
.bili-dropdown .dropdown-list .dropdown-item {
    background-color: #505050;
    border-color: #505050;
}

.bili-dropdown .dropdown-list {
    border: 1px solid #505050!important;
}

.dropdown-list {
    border-radius: 0px 0px 0px 0px!important;
}


/* 7.排行榜 */


/* 排行榜排行数字 */

.rank-list .rank-item .ri-num,
.pgc-rank-list .rank-item .ri-num {
    color: #fff;
    background: #999;
    border-radius: 10px;
}


/* 8.全部、原创-tab切换 */

.bili-tab .bili-tab-item {
    color: #bcbcbc;
}


/* 9.全部、收起*/

.block-area .timeline-toggle-block .timeline-toggle-btn,
.tag-more .b-toggle-btn {
    background: #161819!important;
    box-shadow: 0px 3px 9px #131313;
    border-radius: 0px 0px 15px 15px;
    background-color: #161819;
    color: #ccc;
}


/* 番剧 顶部索引 最近更新下索引*/

.crumb ul .crumb-item a[data-v-71236f48],
.index-entry-wrapper .filter-list .filter-item {
    color: #c3c3c3;
}


/* 10.anime index */


/* title */

bangumi-home-crumb .fcname ul.n_num li a {
    height: 27px;
    font-size: 14px;
    color: #e2e2e2f0;
}


/* update title list */

.block-area .timeline-title .headline .name {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    float: left;
    color: #e7e7e7e8;
}

.timeline-box .timeline-item .item-right a {
    color: inherit;
    text-align: left;
    display: block;
    color: #e7e7e7e8;
    height: 100%;
}


/* my follow title list */

.block-area .follow-wrapper .follow-head {
    color: #e7e7e7e8;
}

.follow-item .details .season-title {
    color: #e7e7e7e8;
}


/* bottom title*/

.index-entry-wrapper .filter-block-title span {
    color: #e7e7e7e8;
}

.index-entry-wrapper .filter-block-title a {
    color: #e7e7e7e8;
}

.spread-module .num {
    /* fix */
    background-color: #171819;
}

.spread-module .t {
    color: #e7e7e7e8;
}

.pgc-rank-list .rank-item .ri-detail .ri-title {
    color: #e7e7e8;
}

.new-stat-module .zone-title .headline .name {
    color: #e7e7e8;
}

.video-item-biref .biref-info .biref-title {
    color: #e7e7e7e8;
}

.sec-rank .rank-head h3 {
    color: #e7e7e7e8;
}

.handpick-right-module .block-header .block-title {
    color: #e7e7e7e8;
}

.block-area .block-left .block-header .block-title {
    color: #e7e7e7e8;
}

.recom-right-head h3 {
    color: #e7e7e7e8;
}

.pgc-common-tab .bili-tab-item {
    color: #e2e2e2f0;
}

.bangumi-home-crumb .fcname ul.n_num li a {
    color: #e7e7e7e8;
}

.sub-nav-m ul li a {
    color: #e7e7e7e8;
}

.bangumi-home-crumb .fcname ul.n_num li {
    color: #e7e7e7e8;
}

.energy-m .headline {
    color: #e2e2e2;
}

.video-floor-m .zone-title .headline .name {
    color: #e2e2e2;
}

.energy-m .hot-box li:first-child .txt {
    color: #e2e2e2;
}

.energy-m .hot-box li .txt {
    color: #e2e2e2;
}

.rank-list .rank-item .ri-detail .ri-title {
    color: #e2e2e2;
}

.bili-tab .bili-tab-item {
    color: #e2e2e2;
}


/* user page */

.n .n-inner {
    background: #222;
    box-shadow: 0 0 0 1px #222;
}

.n .n-data .n-data-v {
    color: #e7e7e7e8;
}

.g-search input {
    color: #e7e7e7e8;
    border: 1px solid #222;
    background: #505050;
}

#page-index .col-2 .section {
    background: #222;
    border: 1px solid #222;
    border-radius: 10px;
}

section-title {
    color: #e7e7e7e8;
}

.user .info .meta .row:first-child {
    color: #e7e7e7e8;
}

#page-index .col-1 {
    background: #222;
}


/* 11.返回顶部 */


/* page to up tool*/

.back-top-tools .tool-item,
.go-top-m .go-top {
    background: #5050505e;
    border: 0px;
}

.back-top-tools .tool-item:hover,
.go-top-m .go-top:hover {
    background-color: #4a4b4e;
}


/* 12.视频信息卡片 */

.video-info-module {
    border: 0px;
    border-radius: 10px;
    -webkit-box-shadow: rgb(0 0 0 / 50%) 0 2px 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    background-color: #222;
}

.video-info-module .v-title {
    color: #e7e7e7;
}


/* 13.标签类 */


/* 主标题 */

.tag-list-wrp .title .name,
.video-floor-m .dynamic-title .title .name,
.mod-2 li .r .title {
    color: #e1e1e1;
}


/* 副标题 */

.tag-list-wrp .title .small,
.video-list .vl-hd .tab-list li,
.mod-2 li .r .v-desc,
.tag-list li.tag-item .tag-a,
.mod-2 li .r .up-info .v-author,
.mod-2 li .r .v-info .v-info-i {
    color: #bcbcbc;
}


/* 标签 */

.tag-list li.tag-item {
    background-color: #3b3b3b;
    border: 0px;
}


/* 边框 */

.mod-2 li,
.video-list .vl-hd {
    border-bottom: 1px solid #bcbcbc80;
}

.mod-2 li .l-item {
    border-right: 1px solid #bcbcbc80;
}


/* 页面跳转 */


/* 换一换 */

.video-floor-m .dynamic-title .read-push {
    background-color: #3b3b3b;
    border: 1px solid #3b3b3b;
    border-radius: 15px;
}

.video-floor-m .dynamic-title .read-push .info {
    color: #bcbcbc;
}

.video-floor-m .dynamic-title .read-push:hover {
    background-color: #505050;
    border: 1px solid #505050;
}


/* 视频热度排序-时间选择*/

.video-list .vl-hd .vl-hd-sub .selector-block .date-select {
    background: #3b3b3b;
    border-radius: 15px;
}

.video-list .vl-hd .vl-hd-sub .selector-block .date-select {
    color: #bcbcbc;
}


/* 二维码图片降低亮度 */

.mobile-link-l {
    opacity: 0.6;
}


/* 页面跳转 */

.pager .pages .page-item.active button,
.pager .pages .page-item button:hover {
    background: #00a1d6c7;
    color: #e7e7e7e0;
    border: 1px solid #00a1d6c7;
}

.pager .pages .page-item button {
    color: #bcbcbc;
    border: 1px solid #2B2B2B;
    background: #2B2B2B;
    margin-right: 8px;
}

.pager .jump-pager input[type=text] {
    color: #e1e1e1;
    border-radius: 10px;
    border: 0px;
    background-color: #3b3b3b;
}