.kitOuter[data-position*=center] {
    top: 95%;
    left: 3%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.kitOuter {
    position: fixed;
    z-index: 2333;
    top: 95%;
    left: 3%;
}

.kitOuterDark,
.kit_dark {
    display: flex;
    flex-direction: column;
}

.kitOuterDark {
    display: none;
    width: 315px;
    height: 450px;
    border-radius: 15px;
    background-color: #222;
    box-shadow: 0 2px 4px #222;
}

.titleLight {
    padding: 8px;
    color: #222;
}

.titleDark {
    color: #e1e1e1;
    padding: 10px;
    font-size: 13px;
}

.center {
    display: flex;
    justify-content: center;
}

.boxOuterDark {
    display: flex;
}

.boxMainLight {
    margin: 0 8px 8px;
    background-color: #a7a7a7!important;
    box-shadow: 0px 2px 4px #757575!important;
    border: 1px solid #a7a7a7;
}

.boxMainDark {
    display: flex;
    background-color: #2b2b2b;
    box-shadow: 0px 2px 8px #1d1d1d;
    border-radius: 15px;
    height: 100px;
    width: 140px;
    margin: 0 0 8px 8px!important;
    margin-top: 0px;
}

.icon_fix_dark_theme {
    display: flex;
    color: #e1e1e1;
    font-size: 50px !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: -3px;
}

.sideOuter {
    display: flex;
    flex-direction: column;
}

.boxSideLight {
    margin-left: 8px!important;
    background-color: rgb(86 86 86);
    border: 1px solid #a7a7a7;
}

.boxSideDark {
    display: flex;
    box-shadow: 0px 2px 8px #1d1d1d;
    border-radius: 15px;
    height: 45px;
    width: 150px;
}

.sideMargin {
    margin-right: 8px;
    margin-bottom: 8px;
}

.subtitleDark {
    color: #bcbcbc;
}

.smallsize {
    font-size: 8px;
    margin-left: 10px;
}

.kit_getPic {
    margin-top: 10px;
}

.widthBox {
    display: flex;
    background-color: #2b2b2b;
    box-shadow: 0px 2px 8px #1d1d1d;
    border-radius: 15px;
    width: 298px;
    height: 50px;
    margin-bottom: 0px;
    margin: 8px;
    border: 1px solid #2b2b2b;
}

.widthBox:hover {
    border: 1px solid #d4d1d1;
}

.boxSideDark:hover {
    border: 1px solid #d4d1d1;
}

.boxMainDark:hover {
    border: 1px solid #d4d1d1;
}

.icon_fix {
    display: flex;
    color: #e1e1e1;
    font-size: 40px !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 128px;
}

.settingDark,
.settingNormal {
    display: flex;
    margin: 10px;
    width: 40px;
    margin-left: -20px;
    height: 40px;
    border-radius: 10px;
}

.settingDark {
    background-color: #222;
    box-shadow: 0 2px 4px #222;
}

.settingNormal {
    background-color: rgb(196, 196, 196);
    box-shadow: 0px 2px 4px rgb(150, 150, 150);
}

.iconNormal {
    font-size: 21px !important;
    color: #202020;
    align-items: center;
    display: flex;
    padding-left: 8px;
    width: 30px;
}

@font-face {
    font-family: "iconfont";
    /* Project id 2625254 */
    src: url('//at.alicdn.com/t/font_2625254_puryec1ehl.woff2?t=1624332498326') format('woff2'), url('//at.alicdn.com/t/font_2625254_puryec1ehl.woff?t=1624332498326') format('woff'), url('//at.alicdn.com/t/font_2625254_puryec1ehl.ttf?t=1624332498326') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
    content: "\e6ed";
}

.icon-zhaopian:before {
    content: "\e64f";
}

.icon-zizhong:before {
    content: "\e603";
}

.icon-DarkTheme:before {
    content: "\e65a";
}

.kitOuterLight {
    background-color: rgb(196, 196, 196);
    box-shadow: 0px 2px 4px rgb(168, 167, 167);
}

.subtitleLight {
    color: #3a3a3a!important;
}

.iconLight {
    color: #2b2b2b;
}