/* 导航栏-动态 */

.content[data-v-35faf080],
.tip-box[data-v-213951fc],
.split-line .history-tip[data-v-213951fc] {
    color: #bcbcbc;
}

.list-item[data-v-35faf080]:hover {
    background-color: #70727d22;
}

.tab-bar[data-v-55a4a73b] {
    border-bottom: 1px solid #bcbcbc80;
}

.split-line[data-v-213951fc]::before {
    border-top: 1px solid #bcbcbc80;
}

.content[data-v-35faf080] {
    color: #c2c8d0;
}

.loading-tip[data-v-77141e7e]::before {
    display: none;
}

.name-line[data-v-35faf080] {
    color: #e7e7e7e0;
}


/* 附历史记录fix */

.van-popper-history .view-all[data-v-c8b73006] {
    background: #3b3b3b;
    border-radius: 15px;
}

.van-popper-history .view-all[data-v-c8b73006]:hover {
    background: #505050;
}