/* 搜索-New */

#pgc-navigate-wrap .ep-box .ep-sub .ep-item {
    border: 1px solid #bcbcbc80;
    border-radius: 15px;
    color: #bcbcbc;
}

#pgc-navigate-wrap .ep-box .ep-sub .ep-item .name {
    color: #e7e7e7e0;
}

#pgc-navigate-wrap .ep-box .ep-sub .ep-item:hover,
#pgc-navigate-wrap .play-btn:hover {
    background-color: #00a1d6c7;
}

#pgc-navigate-wrap .play-btn:hover {
    border: 1px solid #00a1d6c7;
    color: #e7e7e0;
}

#pgc-navigate-wrap .ep-box.horizontal .ep-sub .ep-item,
#pgc-navigate-wrap .play-btn:hover .play-btn-svg {
    color: #e7e7e7e0;
}

.pgc-item .right-info .headline .pgc-label {
    color: #bcbcbc;
}

.pgc-item .right-info .intros .value,
.bangumi-item .right-info .intros .value {
    color: #e8e8dce0;
}

.pgc-item .right-info .intros .label,
.bangumi-item .right-info .intros .label {
    color: #dde7eae0;
}

.pgc-item .right-info .intros .desc,
.bangumi-item .right-info .intros .desc {
    color: #e0d9e0e0;
}

#all-list .card-more {
    color: #e7e7e7e0;
}

#all-list .mixin-list ul:not(:last-child) {
    border-bottom: 1px solid #bcbcbc80;
}

.bangumi-item .right-info .score .user-count,
.pgc-item .right-info .score .user-count {
    color: #bcbcbc;
}

.bangumi-item .right-info .headline .bangumi-label {
    color: #bcbcbc;
}

.keyword {
    opacity: 0.95;
}

.video-item.list {
    border-bottom: 1px solid #bcbcbc80;
}

.video-item.list .type {
    border: 1px solid #e5e9efb8;
    color: #ced4d2;
}

.video-item.list .des {
    color: #cec7cd;
}

.video-item.list .so-icon,
.video-item .so-icon .up-name,
.video-item.matrix .info .time,
.video-item.matrix .info .so-icon.watch-num {
    color: #cdceca;
}

.error-wrap .text {
    background: #161819;
}

.error-wrap {
    border: 1px solid #bcbcbc80;
    color: #e7e7e7e0;
}

.logo-input.clearfix {
    width: max-content;
}

.search-wrap .search-logo {
    background-position: -261px 0px;
    width: 151px;
    height: 43px;
    float: left;
    margin-top: 0px;
}

.search-wrap {
    width: 625px;
}

.load-state .loading:before {
    background: #161819;
}

.load-state .loading {
    color: #e7e7e7e0;
    font-size: 17px;
    margin-right: 0px;
}

.search-wrap .fixed-top {
    background: hsl(197deg 10% 18% / 90%);
}

.search-wrap .search-block .input-wrap input {
    height: 18px;
    background: #505050;
    width: 296px;
    border: 1px solid #ccd0d7;
    border-radius: 20px;
    color: #ffffffcc;
    outline: none;
}

.search-wrap .search-block .input-wrap {
    background: #161819;
}

.search-wrap .search-block .search-button {
    opacity: 0.95;
    border-radius: 22px;
}

.search-wrap .fixed-top .search-block .input-wrap input {
    border: 1px solid #bcbcbc80;
    border-radius: 15px;
}

.search-wrap .fixed-top .search-block .input-wrap {
    background: transparent;
}

.search-wrap .fixed-top .search-block .search-loupe .icon-loupe {
    opacity: 0.9;
    background-position: -141px -320px;
}

.suggest-wrap {
    background: #222;
    border: 0px;
    border-radius: 15px;
}

.suggest-wrap .keyword-wrap .keyword {
    color: #e7e7e7e0;
}

.suggest-wrap .vt-text:hover {
    background-color: #70727d22;
}

.suggest-wrap .horizontal .hz-text {
    border: 1px solid #bcbcbc80;
    color: #e1e7e8e0;
    border-radius: 10px;
}

.suggest-wrap .vt-text {
    color: #e4dee3e0;
}

.suggest-wrap .title span {
    background: #222;
    color: #bdb4b4;
}

.suggest-wrap .title {
    border-top: 1px solid #bcbcbc;
}

.filter-wrap .sub-filter {
    border-radius: 10px;
    border: 1px solid #bcbcbc80;
    background-color: #222;
}

.filter-wrap .icon-tid2-arr,
.filter-wrap .icon-tid1-arr {
    position: inherit;
}

.filter-wrap .fold:hover {
    background-color: #161819;
}

.filter-wrap .fold {
    color: #bcbcbc;
}

.arrow-down,
.arrow-up {
    filter: drop-shadow(0px 0px #fff);
}

.pager .pages .page-item button {
    background-color: #2B2B2B;
    color: #bcbcbc;
    border: 0px;
    margin-right: 6px;
    border-radius: 6px;
}

.pager .pages .page-item.active button,
.pager .pages .page-item button:hover {
    background-color: #00a1d6c7;
    color: #e7e7e7e0;
    border: 0px;
}

.pager .pages strong {
    color: #aeaeae;
}


/* 搜索-首页 */

.home-wrap .home-input .content {
    background: #505050;
    color: #e1e1e1;
    outline: none;
    border: 1px solid #505050;
}

.home-wrap .home-input .type {
    background: #505050;
    border: 1px solid #505050;
    color: #e7e7e7;
    border-radius: 15px 0 0 15px;
    border-right: 1px solid #bcbcbc80;
}

.home-wrap .home-input .searchBtn {
    border-radius: 0 15px 15px 0;
}

.home-wrap .home-input {
    width: 635px;
}

.home-wrap .home-suggest .title {
    color: #e1e1e1;
}

.home-wrap .home-suggest .hot-search,
.home-wrap .home-suggest .history {
    border: 1px solid #bcbcbc80;
    border-radius: 15px;
}

.word,
a,
.home-wrap .home-suggest .history .list .item a {
    color: #e1e1e1;
}

.home-wrap .home-suggest .hotlist .item {
    border-bottom: 1px dotted #eeeeeead;
}

.home-wrap .home-suggest .hot-search .item .num.special,
.home-wrap .home-suggest .hotlist .num,
.home-wrap .home-suggest .history .list .item {
    border-radius: 5px;
}

.home-wrap .home-input .type.selected,
.home-wrap .home-input .type:hover {
    border: 1px solid #bcbcbc80;
    background-image: linear-gradient( 0deg, #505050, #505050);
}

.home-wrap .home-input .list {
    border: 1px solid #222;
    border-radius: 8px;
    background-color: #222;
    color: #e7e7e7e0;
}

.home-wrap .home-input .list li:hover {
    background-color: #3b3e40;
}


/* search index */

.video-item.matrix .title {
    color: #ddd;
}

.video-item.matrix {
    border: 0px solid #e5e9ef;
    border-radius: 8px;
    background: #222;
}

.filter-wrap .filter-item a {
    color: #ddd;
}

#navigator .v-switcher-header-item a {
    color: #ddd;
}

#navigator .v-switcher-header-item a span {
    color: #9fa9af;
}

.page-wrap .pager {
    background: #161819;
}

.pgc-item .right-info .headline .title,
.video-item.list .title,
.user-item .title,
.user-item .up-videos .video-item .video-desc {
    color: #e1e1e1e0;
}

#navigator .v-switcher-header-item,
.user-item {
    border-bottom: 1px solid #bcbcbc80;
}

#user-list .dropdown-wrap .select-wrap {
    border-left: 1px solid #bcbcbc80;
}

.user-item .up-info>span,
.user-item .desc {
    color: #bcbcbc;
}

.up-feedback .up-fb-btn:hover {
    background-color: #00a1d626!important;
}

.up-feedback .icon-beta {
    opacity: 0.5!important;
}

.user-item .attention-btn.followed,
.user-item .attention-btn.followed:hover {
    background: #3b3b3b;
    color: #bcbcbc;
}

.user-item .attention-btn,
.filter-wrap .filter-item.active {
    opacity: 0.8;
}

#user-list .dropdown-wrap .select-wrap .bili-dropdown .dropdown-list {
    border: 1px solid #222;
    border-radius: 8px;
    background-color: #222;
    color: #e1e1e1e0;
}

#user-list .dropdown-wrap .select-wrap .bili-dropdown .dropdown-list .dropdown-item {
    background-color: #171819;
}

#user-list .dropdown-wrap .select-wrap .bili-dropdown .selected,
.total-wrap .total-text,
a.video-more,
#live-list .live-tabs a {
    color: #bcbcbc;
}

#live-list .headline-live h3 {
    color: #e1e1e1e0;
}

.filter-wrap .filter-item a {
    color: #bcbcbc;
}