/* 番剧索引 */


/* https://www.bilibili.com/anime/index/ */

.sort-item,
.filter-block .filter-item-wrapper .filter-item,
.bangumi-item .pub-info {
    color: #bcbcbc;
}

.filter-wrapper .filter-title,
.filter-block .filter-name,
.bangumi-item .bangumi-title {
    color: #e1e1e1;
}


/* 通用页面切换栏 */

.pagelistbox .p {
    background-color: #2B2B2B;
    color: #bcbcbc;
    border: 0px;
    margin-right: 6px;
    border-radius: 6px;
}

.pagelistbox .custom-right .custom-right-inner.custompage {
    border: 0px;
    background-color: #3b3b3b;
    border-radius: 8px;
    color: #e1e1e1;
}

.pagelistbox .p.active,
.pagelistbox .p:hover {
    background-color: #00a1d6c7;
    color: #e7e7e7e0;
}

.pagelistbox strong {
    color: #aeaeae;
}