body {
    background-color: #161819;
}

.international-header a {
    color: #e7e7e7;
}

a {
    color: #e7e7e7;
}

.page-tab .con li {
    border: 0px;
}

.page-tab .con li .bilifont {
    color: #3e3e3e
}

.channel-menu-itnl .item .name em {
    opacity: 0.95;
}

.friendship-link .svg-icon,
.international-footer .link-box .link-item.link-c a:hover .qrcode,
.video-card-reco .info-box .info .title {
    opacity: 0.90;
}

.video-card-reco .info-box:before {
    background: rgba(0, 0, 0, .8);
    opacity: 0.05;
}

.storey-title .no-link {
    color: #eaeaea;
}

.storey-title .no-link {
    color: #bbbaba;
}

.time-line .tab-switch .tab-switch-item {
    color: #c1c1c1;
}

.pgc-no-data {
    opacity: 0.5;
}

.tab-switch-item {
    color: #c1c1c1;
}

.manga-panel .manga-list-box .manga-card .manga-title {
    color: #e7e7e7;
}

.video-card-common .card-pic a .crown {
    opacity: 0.95;
}

.live-card .up .txt .desc {
    color: #ccc;
}

.live-card .up .txt .tag {
    color: #b2b2b2;
}

.live-list .text-info span {
    color: #e7e7e7;
}

.rank-header .name {
    color: #eee;
}

.rank-header .more,
.exchange-btn .btn {
    border: 1px solid #979797;
    color: #ccc;
}

.rank-wrap .preview .txt span {
    color: #b2b2b2;
}

.international-footer {
    background-color: rgb(0 0 0 / 13%);
}

.international-footer a,
.international-footer .link-box .link-item.link-c p {
    color: #c1c1c1;
}

.international-footer .link-box .link-item {
    border-right: 1px solid #c1c1c1;
}

.contact-help {
    color: #ccc;
    background: #3b3b3b;
    border: 0px solid #e7e7e7;
    box-shadow: 0 6px 10px 0 #212121;
}

.time-line .tl-link {
    background: #3b3b3b;
    border: 0px;
    color: rgba(255, 255, 255, 0.68);
    border-radius: 20px;
}

.main-container .media-info .media-right .media-title {
    color: #e2e2e2e8;
}

.main-container .media-info .media-right .media-desc,
.main-container .media-info .media-right .pub-wrapper .home-link,
.main-container .media-info .media-right .pub-wrapper .pub-info {
    color: #e2e2e2f0;
}

.main-container .media-info,
.main-container .review-module,
.main-container .plp-l .comment-wrapper {
    border-top: 1px solid #6d757a;
}

.main-container .review-module .review-list .review-item .review-body {
    border-radius: 10px;
    background-color: #222;
}

.main-container .review-module .review-list .review-item .review-title {
    color: #c7bcbc;
}

.main-container .review-module .review-list .review-item .review-content {
    color: #c7bcbce3;
}

.main-container .review-module .module-title h4,
.main-container .recom-wrapper .recom-title,
.main-container .recom-wrapper .recom-list .recom-item .info-wrapper .video-title,
.main-container .review-module .module-title .more-link,
.main-container .plp-l .comment-wrapper .b-head {
    color: #e7e7e7eb;
}


/* 首页 换一换、更多 */

.rcmd-box-wrap .change-btn,
.rank-header .more,
.exchange-btn .btn,
.rank-header .more,
.exchange-btn .btn {
    color: #ccc;
}

.rcmd-box-wrap .change-btn:hover,
.exchange-btn .btn:hover,
.rank-header .more:hover {
    background-color: #282b2d!important;
}


/* 搜索栏 */

.bili-header-m .nav-search #nav_searchform,
.international-header .nav-search #nav_searchform {
    border-radius: 20px;
    background-color: #505050;
}

.bili-header-m .nav-search .nav-search-keyword,
.international-header .nav-search .nav-search-keyword {
    color: #ffffffcc!important;
}

.bili-header-m .nav-search .nav-search-btn,
.international-header .nav-search .nav-search-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bili-header-m .nav-search .nav-search-btn,
.international-header .nav-search .nav-search-btn {
    background: #737373;
}

.bili-header-m .nav-search .nav-search-submit,
.international-header .nav-search .nav-search-submit {
    color: #c3c3c3;
}

input::placeholder {
    color: #ababab;
}


/* 首页 导航栏 */

.elevator .list-box {
    background: #222;
}

.elevator .list-box .item {
    background: #222;
    color: #fffffff0;
}

.elevator .list-box .item.on,
.elevator .list-box .item:hover {
    color: #fffffff0;
}


/* 首页 推广信息 */

.storey-title .text-info a {
    color: #ccc;
}


/* 首页 漫画栏 */

.manga-panel .app-download-link {
    position: relative;
    height: 30px;
    color: #e2e2e2;
}

.tab-switch-item {
    color: #c1c1c1;
}


/* 首页 观看列表 */

.bypb-window .online {
    border: 1px solid #212121;
    border-radius: 2px;
    background: #212121;
    color: #6f6f6f;
}


/* 首页 导航栏 游戏中心 */

.box {
    background: #222;
}

.brief span {
    color: #e2e2e2;
}

.all a {
    color: #ccc;
}

.all a:hover {
    color: #00a1d6;
    background-color: #403b3b;
}

.brief a:hover {
    background-color: #403b3b;
}


/* 首页 导航栏 直播 */

.live-box[data-v-5e2bd0c0] {
    background: #222;
    border-radius: 20px;
}

.room-list .list-item .uname[data-v-5e2bd0c0] {
    color: #e2e2e2;
}

.act-list .list-item[data-v-5e2bd0c0]:hover {
    background: #403b3b;
}


/* 首页 导航栏 漫画 */

.app-layout[data-v-0b4aa428] {
    background-color: #222;
}

.recommendation-list .list-item .item-title[data-v-7149acfe] {
    color: #e2e2e2;
}

.popularity-list .list-title[data-v-499a5b95] {
    color: #eee;
}

.popularity-list .item-list .list-item[data-v-499a5b95] {
    color: #eee;
}

.popularity-list .item-list .list-item[data-v-499a5b95]:hover,
.recommendation-list .list-item[data-v-7149acfe]:before {
    background-color: #403b3b;
}


/* 首页 导航栏 三角 */

.van-popper[x-placement^=bottom] .popper__arrow:after {
    border-bottom-color: #222;
}


/* 首页 导航栏 消息 */

.im-list-box {
    color: #e5e9eff2!important;
    background: #222!important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.i-frame iframe[data-v-01c9e08c] {
    background: #fff0!important;
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    -webkit-box-shadow: 0 3px 6px 0 #000!important;
    box-shadow: 0 3px 6px 0 #000!important;
}

.i-frame[data-v-01c9e08c]::before {
    background-color: #222!important;
    -webkit-box-shadow: -1px -1px 1px #000!important;
    box-shadow: -1px -1px 1px #000!important;
}


/* 首页 导航栏 历史记录 */


/* 历史 */

.im-list:hover {
    color: #f4f4f4e8 !important;
    background-color: #101010a8!important;
}

.van-popover {
    border: 0px solid #ebeef5!important;
    color: #d2d5dc!important;
    border-radius: 15px!important;
    background: #222!important;
}

.van-popper-history .tab-header[data-v-8e2b2858] {
    border-bottom: 1px solid #757575!important;
}

.header-video-card .video-info .line-2[data-v-37582e0a] {
    color: #f4f5f7d9!important;
}

.van-popper-history .view-all[data-v-8e2b2858] {
    background: #88888866!important;
    color: #e2e2e2d9!important;
    border-radius: 10px!important;
}


/* 历史位置 */

.follow-dialog-wrap .follow-dialog-window {
    background: #222!important;
    border-radius: 15px!important;
}


/* 顶部 */


/* 大会员 */

.vip-m .bubble-traditional .recommand .title {
    color: #fffffff0;
}

.vip-m .bubble-traditional .recommand .bubble-col .item .recommand-link {
    color: #fffffff0;
}


/* 收藏 */

.van-popper-favorite .tab-item .title[data-v-64b63b5f] {
    color: #fffffff0;
}

.van-popper-favorite .tab-item--normal[data-v-64b63b5f]:hover {
    background-color: #f4f4f433;
}

.header-video-card[data-v-37582e0a]:hover {
    background-color: #f4f4f433;
}


/* 动态 */

.user-panel .content .bottom .number-part .numbers[data-v-f8464120] {
    color: #ddd;
}

.tc-black {
    color: #ddd;
}

.user-panel[data-v-f8464120] {
    background: #222;
}

.live-panel[data-v-2e6e2559] {
    background-color: #222;
}

.live-panel-item .live-detail .up-name[data-v-34bb1f0d] {
    color: #ddd;
}

.notice-panel[data-v-64440e39] {
    background-color: #222;
}

.new-topic-panel[data-v-58cf9fb5] {
    background-color: #222;
}

.new-topic-panel .tag-item .content[data-v-58cf9fb5] {
    color: #ddd;
}

.new-topic-panel .tag-item .label[data-v-58cf9fb5] {
    background: #3a3e44;
    color: #c3c3c3;
}


/* tabs */

.international-header .mini-type .nav-link .nav-link-ul .nav-link-item .link,
.van-popover .mini-type .nav-link .nav-link-ul .nav-link-item .link {
    color: #e5e9ef;
}

.mini-type .nav-user-center .user-con .item .name {
    color: #e5e9ef;
}


/* tab-user */

.van-popper-avatar .level-info .grade[data-v-59fd5a91] {
    color: #999999;
}

.van-popper-avatar .count-item .item-value[data-v-59fd5a91] {
    color: #f4f4f4;
}

.van-popper-avatar .links .link-title[data-v-59fd5a91] {
    color: #f4f4f4;
}

.van-popper-avatar .link-icon[data-v-59fd5a91] {
    color: #f4f4f4;
}

.van-popper-avatar .logout[data-v-59fd5a91] {
    color: #f4f4f4;
}